In [3]:
import numpy as np
import pandas as pd
import pylab as pl
import os

# Download Data and move to data folder

# Download Data
!curl -O "https://raw.githubusercontent.com/fivethirtyeight/uber-tlc-foil-response/master/uber-trip-data/taxi-zone-lookup.csv" 
!curl -O "https://raw.githubusercontent.com/fivethirtyeight/uber-tlc-foil-response/master/uber-trip-data/uber-raw-data-apr14.csv" 
!curl -O "https://raw.githubusercontent.com/fivethirtyeight/uber-tlc-foil-response/master/uber-trip-data/uber-raw-data-may14.csv" 
!curl -O "https://raw.githubusercontent.com/fivethirtyeight/uber-tlc-foil-response/master/uber-trip-data/uber-raw-data-jun14.csv" 
!curl -O "https://raw.githubusercontent.com/fivethirtyeight/uber-tlc-foil-response/master/uber-trip-data/uber-raw-data-jul14.csv" 
!curl -O "https://raw.githubusercontent.com/fivethirtyeight/uber-tlc-foil-response/master/uber-trip-data/uber-raw-data-aug14.csv" 
!curl -O "https://raw.githubusercontent.com/fivethirtyeight/uber-tlc-foil-response/master/uber-trip-data/uber-raw-data-sep14.csv" 
!curl -LO "https://github.com/fivethirtyeight/uber-tlc-foil-response/raw/master/uber-trip-data/uber-raw-data-janjune-15.csv.zip"

# Move Data to ADS Data
os.system("mv taxi-zone-lookup.csv /wingrdp/homedirs/adn323/ADS2017_adn323/Data/Project_Data")
os.system("mv uber-raw-data-apr14.csv /wingrdp/homedirs/adn323/ADS2017_adn323/Data/Project_Data")
os.system("mv uber-raw-data-may14.csv /wingrdp/homedirs/adn323/ADS2017_adn323/Data/Project_Data")
os.system("mv uber-raw-data-jun14.csv /wingrdp/homedirs/adn323/ADS2017_adn323/Data/Project_Data")
os.system("mv uber-raw-data-jul14.csv /wingrdp/homedirs/adn323/ADS2017_adn323/Data/Project_Data")
os.system("mv uber-raw-data-aug14.csv /wingrdp/homedirs/adn323/ADS2017_adn323/Data/Project_Data")
os.system("mv uber-raw-data-sep14.csv /wingrdp/homedirs/adn323/ADS2017_adn323/Data/Project_Data")
os.system("mv uber-raw-data-janjune-15.csv.zip /wingrdp/homedirs/adn323/ADS2017_adn323/Data/Project_Data")

# Unzip Jan to June 2015 data
os.system("unzip /wingrdp/homedirs/adn323/ADS2017_adn323/Data/Project_Data/uber-raw-data-janjune-15.csv.zip -d /wingrdp/homedirs/adn323/ADS2017_adn323/Data/Project_Data")

# Read data and visualise tables to ensure correct

In [4]:
# Read data into data frames
TaxiLookup = pd.read_csv("/wingrdp/homedirs/adn323/ADS2017_adn323/Data/Project_Data/taxi-zone-lookup.csv")
UberApr14 = pd.read_csv("/wingrdp/homedirs/adn323/ADS2017_adn323/Data/Project_Data/uber-raw-data-apr14.csv")
UberMay14 = pd.read_csv("/wingrdp/homedirs/adn323/ADS2017_adn323/Data/Project_Data/uber-raw-data-may14.csv")
UberJun14 = pd.read_csv("/wingrdp/homedirs/adn323/ADS2017_adn323/Data/Project_Data/uber-raw-data-jun14.csv")
UberJul14 = pd.read_csv("/wingrdp/homedirs/adn323/ADS2017_adn323/Data/Project_Data/uber-raw-data-jul14.csv")
UberAug14 = pd.read_csv("/wingrdp/homedirs/adn323/ADS2017_adn323/Data/Project_Data/uber-raw-data-aug14.csv")
UberSep14 = pd.read_csv("/wingrdp/homedirs/adn323/ADS2017_adn323/Data/Project_Data/uber-raw-data-sep14.csv")
UberJanJun15 = pd.read_csv("/wingrdp/homedirs/adn323/ADS2017_adn323/Data/Project_Data/uber-raw-data-janjune-15.csv")

In [5]:
UberJanJun15.head()

  Dispatching_base_num          Pickup_date Affiliated_base_num  locationID
0               B02617  2015-05-17 09:47:00              B02617         141
1               B02617  2015-05-17 09:47:00              B02617          65
2               B02617  2015-05-17 09:47:00              B02617         100
3               B02617  2015-05-17 09:47:00              B02774          80
4               B02617  2015-05-17 09:47:00              B02617          90

In [30]:
TaxiLookup.head()

   LocationID        Borough                     Zone
0           1            EWR           Newark Airport
1           2         Queens              Jamaica Bay
2           3          Bronx  Allerton/Pelham Gardens
3           4      Manhattan            Alphabet City
4           5  Staten Island            Arden Heights

In [7]:
UberApr14.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

# Merge April to Septemebr 2014 data into 1 data frame

In [8]:
UberAprSep14 = pd.concat([UberApr14,UberMay14,UberJun14,UberJul14,UberAug14,UberSep14]).reset_index()
UberAprSep14.head()

   index         Date/Time      Lat      Lon    Base
0      0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1      1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2      2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3      3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4      4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [9]:
UberAprSep14["Base"].unique()

array(['B02512', 'B02598', 'B02617', 'B02682', 'B02764'], dtype=object)

In [10]:
UberAprSep14.shape

(4534327, 5)

In [11]:
UberJanJun15["Dispatching_base_num"].unique()

array(['B02617', 'B02598', 'B02682', 'B02764', 'B02512', 'B02765',
       'B02835', 'B02836'], dtype=object)

In [12]:
Bases = pd.DataFrame(UberAprSep14["Base"].unique())
Bases = Bases.rename(columns={0:"BasesAprSep14"})
Bases2 = pd.DataFrame(UberJanJun15["Dispatching_base_num"].unique())
Bases2 = Bases2.rename(columns={0:"BasesJanJun15"})

In [13]:
Bases

  BasesAprSep14
0        B02512
1        B02598
2        B02617
3        B02682
4        B02764

In [14]:
Bases2

  BasesJanJun15
0        B02617
1        B02598
2        B02682
3        B02764
4        B02512
5        B02765
6        B02835
7        B02836

# Pull in FHV TLC bases list to determine what are Uber bases

In [15]:
# Read in Taxi Bases Lists
TLCbasesComm = pd.read_excel("http://www.nyc.gov/html/tlc/downloads/excel/current_community_car_service_bases.xls")
TLCbasesBlack = pd.read_excel("http://www.nyc.gov/html/tlc/downloads/excel/current_black_car_bases.xls")
TLCbasesLux = pd.read_excel("http://www.nyc.gov/html/tlc/downloads/excel/current_luxury_limousine_bases.xls")

# Merge Taxi Bases list and drop irrelevant columns

In [16]:
TLCbasesComm.head(1)

,LICENSEE NUMBER,NAME OF LICENSEE,ALTERNATE NAME OF LICENSEE,STREET ADDRESS,CITY,ZIP CODE,TELEPHONE NUMBER,LICENSE TYPE DESC,TOTAL AFFILIATED,COMMUNITY BOARD,COUNCIL DISTRICT,NYPD PRECINCT,SHL ENDORSEMENT
0,B00008,T-D MAINTENANCE CORP,FOUR ONES CAR SERVICE,127-01 METROPOLITAN AVENUE,KEW GARDENS,11415,(718) 456-1111,TLC Licensed Base - Livery,30.0,5.0,30.0,104.0,N

In [17]:
TLCbasesBlack.head(1)

,LICENSEE NUMBER,NAME OF LICENSEE,ALTERNATE NAME OF LICENSEE,STREET ADDRESS,CITY,ZIP CODE,TELEPHONE NUMBER,LICENSE TYPE DESC,TOTAL AFFILIATED,COMMUNITY BOARD,COUNCIL DISTRICT,NYPD PRECINCT,SHL ENDORSEMENT
0,B00013,LOVE CORPORATE CAR INC,NaN,1440 39 STREET,BROOKLYN,11218,(718) 438-1100,TLC License Base - Black Car,116,12.0,39.0,66.0,N

In [18]:
TLCbasesLux.head(1)

,LICENSEE NUMBER,NAME OF LICENSEE,ALTERNATIVE NAME OF LICENSEE,STREET ADDRESS,CITY,ZIP CODE,LICENSE TYPE DESC,TELEPHONE NUMBER,TOTAL AFFILIATED,SHL ENDORSEMENT
0,B00001,LONDON TOWNCARS INC,NaN,40-14 23 STREET,LIC,11101,TLC Licensed Base - Luxury Limousine,(718) 786-9700,30.0,NaN

In [19]:
TLCbasesComm.columns

Index([u'LICENSEE NUMBER', u'NAME OF LICENSEE', u'ALTERNATE NAME OF LICENSEE',
       u'STREET ADDRESS', u'CITY', u'ZIP CODE', u'TELEPHONE NUMBER',
       u'LICENSE TYPE DESC', u'TOTAL AFFILIATED', u'COMMUNITY BOARD',
       u'COUNCIL DISTRICT', u'NYPD PRECINCT', u'SHL ENDORSEMENT'],
      dtype='object')

In [20]:
TLCbasesBlack.columns

Index([u'LICENSEE NUMBER', u'NAME OF LICENSEE', u'ALTERNATE NAME OF LICENSEE',
       u'STREET ADDRESS', u'CITY', u'ZIP CODE', u'TELEPHONE NUMBER',
       u'LICENSE TYPE DESC', u'TOTAL AFFILIATED', u'COMMUNITY BOARD',
       u'COUNCIL DISTRICT', u'NYPD PRECINCT', u'SHL ENDORSEMENT'],
      dtype='object')

In [21]:
TLCbasesLux.columns

Index([u'LICENSEE NUMBER', u'NAME OF LICENSEE',
       u'ALTERNATIVE NAME OF LICENSEE', u'STREET ADDRESS', u'CITY',
       u'ZIP CODE', u'LICENSE TYPE DESC', u'TELEPHONE NUMBER',
       u'TOTAL AFFILIATED', u'SHL ENDORSEMENT'],
      dtype='object')

In [22]:
# Drop Unnecessary Columns and rename ones that are inccorectly labeled
TLCbasesComm = TLCbasesComm[['LICENSEE NUMBER', 'NAME OF LICENSEE', 'ALTERNATE NAME OF LICENSEE']]
TLCbasesBlack = TLCbasesBlack[['LICENSEE NUMBER', 'NAME OF LICENSEE', 'ALTERNATE NAME OF LICENSEE']]
TLCbasesLux = TLCbasesLux[['LICENSEE NUMBER', 'NAME OF LICENSEE', 'ALTERNATIVE NAME OF LICENSEE']]

TLCbasesLux = TLCbasesLux.rename(columns={"ALTERNATIVE NAME OF LICENSEE":'ALTERNATE NAME OF LICENSEE'})

# Merge Taxi Bases list and drop irrelevant columns
TLCbases = pd.concat([TLCbasesComm,TLCbasesBlack,TLCbasesLux]).reset_index()

In [23]:
TLCbases.head()

   index LICENSEE NUMBER          NAME OF LICENSEE ALTERNATE NAME OF LICENSEE
0      0          B00008      T-D MAINTENANCE CORP      FOUR ONES CAR SERVICE
1      1          B00009           T-D MAINTENANCE      FOUR ONES CAR SERVICE
2      2          B00021  MEXICANA HIGH CLASS INC.        CAPITAL CAR SERVICE
3      3          B00029    COMMUNITY CAR SVC CORP                        NaN
4      4          B00030  TREMONT DISPATCHING CORP                        NaN

In [188]:
# The missing Taxi Base number does not exist in the data set
TLCbases[TLCbases["LICENSEE NUMBER"].str.contains('B02598')]

Empty DataFrame
Columns: [index, LICENSEE NUMBER, NAME OF LICENSEE, ALTERNATE NAME OF LICENSEE]
Index: []

In [127]:
TLCbases.dropna(axis=0,inplace=True)

In [128]:
TLCbases = TLCbases[TLCbases['ALTERNATE NAME OF LICENSEE'].str.contains('UBER')]

In [129]:
TLCbases

     index LICENSEE NUMBER       NAME OF LICENSEE  ALTERNATE NAME OF LICENSEE
314    314          B02395             ABATAR LLC             UBER-ABATAR LLC
317    317          B02404             KUCHEN,LLC             UBER-KUCHEN LLC
504     95          B02617             WEITER LLC             UBER-WEITER LLC
509    100          B02682          SCHMECKEN LLC          UBER-SCHMECKEN LLC
524    115          B02764          DANACH-NY,LLC          UBER-DANACH-NY,LLC
525    116          B02765               GRUN LLC               UBER-GRUN LLC
554    145          B02835          DREIST NY LLC          UBER-DREIST NY LLC
555    146          B02836         DRINNEN-NY LLC         UBER-DRINNEN-NY LLC
569    160          B02864          SIEBEN-NY,LLC          UBER-SIEBEN-NY,LLC
570    161          B02865            VIER-NY,LLC            UBER-VIER-NY LLC
571    162          B02866            ZWEI-NY,LLC            UBER-ZWEI-NY LLC
572    163          B02867           FUNF-NY, LLC            UBER-FUNF-NY LLC
574    165          B02869           ZEHN-NY,LLC.            UBER-ZEHN-NY LLC
575    166          B02870            NEUN-NY,LLC            UBER-NEUN-NY LLC
576    167          B02871            ACHT-NY,LLC            UBER-ACHT-NY,LLC
577    168          B02872            EINS-NY,LLC            UBER-EINS-NY,LLC
578    169          B02875          SECHS-NY, LLC          UBER-SECHS-NY, LLC
579    170          B02876       VIERZEHN-NY, LLC       UBER-VIERZEHN-NY, LLC
580    171          B02877          ZWOLF-NY, LLC          UBER-ZWOLF-NY, LLC
581    172          B02878             ELF-NY,LLC             UBER-ELF-NY,LLC
582    173          B02879       FUNFZEHN-NY, LLC       UBER-FUNFZEHN-NY, LLC
583    174          B02880       NEUNZEHN-NY, LLC       UBER-NEUNZEHN-NY, LLC
585    176          B02882         ZWANZIG-NY,LLC         UBER-ZWANZIG-NY,LLC
586    177          B02883       SECHZEHN-NY, LLC       UBER-SECHZEHN-NY, LLC
587    178          B02884       DREIZEHN-NY, LLC       UBER-DREIZEHN-NY, LLC
589    180          B02887  EINUNDZWANZIG-NY, LLC  UBER-EINUNDZWANZIG-NY, LLC
590    181          B02888        SIEBZEHN-NY,LLC        UBER-SIEBZEHN-NY,LLC
591    182          B02889       ACHTZEHN-NY, LLC       UBER-ACHTZEHN-NY, LLC
795     96          B02512              UNTER LLC              UBER-UNTER LLC

# Read in standard FHV taxi data from TLC and compare with Uber Data

In [189]:
# Read Data
FHVdataJan15 = pd.read_csv("https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-01.csv")

In [190]:
# Visualise Data
FHVdataJan15.tail()

        Dispatching_base_num          Pickup_date  locationID
2746028               B02765  2015-01-31 23:59:02       169.0
2746029               B02765  2015-01-31 23:59:07        80.0
2746030               B02765  2015-01-31 23:59:34       186.0
2746031               B02765  2015-01-31 23:59:40       181.0
2746032               B02765  2015-01-31 23:59:48        79.0

In [193]:
# Check if missing Taxi Base exists in data set
FHVdataJan15[FHVdataJan15["Dispatching_base_num"].str.contains('B02598')].count()

Dispatching_base_num    242128
Pickup_date             242128
locationID              242128
dtype: int64

In [157]:
# Merge Taxi Bases Data with dataframe to find out uber taxis
FHVdataJan15 = FHVdataJan15.merge(TLCbases, left_on="Dispatching_base_num", right_on="LICENSEE NUMBER")

In [158]:
FHVdataJan15

,Dispatching_base_num,Pickup_date,locationID,index,LICENSEE NUMBER,NAME OF LICENSEE,ALTERNATE NAME OF LICENSEE
0,B02512,2015-01-01 00:01:21,113.0,96,B02512,UNTER LLC,UBER-UNTER LLC
1,B02512,2015-01-01 00:02:40,144.0,96,B02512,UNTER LLC,UBER-UNTER LLC
2,B02512,2015-01-01 00:06:05,141.0,96,B02512,UNTER LLC,UBER-UNTER LLC
3,B02512,2015-01-01 00:06:17,79.0,96,B02512,UNTER LLC,UBER-UNTER LLC
4,B02512,2015-01-01 00:06:23,246.0,96,B02512,UNTER LLC,UBER-UNTER LLC
5,B02512,2015-01-01 00:07:34,17.0,96,B02512,UNTER LLC,UBER-UNTER LLC
6,B02512,2015-01-01 00:07:36,188.0,96,B02512,UNTER LLC,UBER-UNTER LLC
7,B02512,2015-01-01 00:07:44,33.0,96,B02512,UNTER LLC,UBER-UNTER LLC
8,B02512,2015-01-01 00:09:07,100.0,96,B02512,UNTER LLC,UBER-UNTER LLC
9,B02512,2015-01-01 00:09:13,87.0,96,B02512,UNTER LLC,UBER-UNTER LLC
10,B02512,2015-01-01 00:09:17,216.0,96,B02512,UNTER LLC,UBER-UNTER LLC
11,B02512,2015-01-01 00:09:18,68.0,96,B02512,UNTER LLC,UBER-UNTER LLC
12,B02512,2015-01-01 00:10:07,188.0,96,B02512,UNTER LLC,UBER-UNTER LLC
13,B02512,2015-01-01 00:10:07,188.0,96,B02512,UNTER LLC,UBER-UNTER LLC
14,B02512,2015-01-01 00:11:12,231.0,96,B02512,UNTER LLC,UBER-UNTER LLC
15,B02512,2015-01-01 00:11:39,68.0,96,B02512,UNTER LLC,UBER-UNTER LLC
16,B02512,2015-01-01 00:12:51,164.0,96,B02512,UNTER LLC,UBER-UNTER LLC
17,B02512,2015-01-01 00:13:48,231.0,96,B02512,UNTER LLC,UBER-UNTER LLC
18,B02512,2015-01-01 00:15:59,158.0,96,B02512,UNTER LLC,UBER-UNTER LLC
19,B02512,2015-01-01 00:16:18,33.0,96,B02512,UNTER LLC,UBER-UNTER LLC
20,B02512,2015-01-01 00:17:19,62.0,96,B02512,UNTER LLC,UBER-UNTER LLC
21,B02512,2015-01-01 00:17:27,136.0,96,B02512,UNTER LLC,UBER-UNTER LLC
22,B02512,2015-01-01 00:17:49,246.0,96,B02512,UNTER LLC,UBER-UNTER LLC
23,B02512,2015-01-01 00:18:36,148.0,96,B02512,UNTER LLC,UBER-UNTER LLC
24,B02512,2015-01-01 00:20:29,107.0,96,B02512,UNTER LLC,UBER-UNTER LLC
25,B02512,2015-01-01 00:20:33,161.0,96,B02512,UNTER LLC,UBER-UNTER LLC
26,B02512,2015-01-01 00:20:54,97.0,96,B02512,UNTER LLC,UBER-UNTER LLC
27,B02512,2015-01-01 00:21:33,90.0,96,B02512,UNTER LLC,UBER-UNTER LLC
28,B02512,2015-01-01 00:21:44,234.0,96,B02512,UNTER LLC,UBER-UNTER LLC
29,B02512,2015-01-01 00:22:02,163.0,96,B02512,UNTER LLC,UBER-UNTER LLC
...,...,...,...,...,...,...,...
1631028,B02765,2015-01-31 23:49:12,236.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631029,B02765,2015-01-31 23:49:18,231.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631030,B02765,2015-01-31 23:50:40,87.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631031,B02765,2015-01-31 23:50:46,112.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631032,B02765,2015-01-31 23:51:28,80.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631033,B02765,2015-01-31 23:51:39,249.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631034,B02765,2015-01-31 23:51:44,158.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631035,B02765,2015-01-31 23:52:39,249.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631036,B02765,2015-01-31 23:53:26,140.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631037,B02765,2015-01-31 23:53:45,37.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631038,B02765,2015-01-31 23:53:49,159.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631039,B02765,2015-01-31 23:53:57,106.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631040,B02765,2015-01-31 23:54:25,181.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631041,B02765,2015-01-31 23:54:26,249.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631042,B02765,2015-01-31 23:54:50,181.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631043,B02765,2015-01-31 23:54:51,112.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631044,B02765,2015-01-31 23:55:04,17.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631045,B02765,2015-01-31 23:56:05,68.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631046,B02765,2015-01-31 23:56:47,181.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631047,B02765,2015-01-31 23:56:48,112.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631048,B02765,2015-01-31 23:56:52,145.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631049,B02765,2015-01-31 23:57:26,142.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631050,B02765,2015-01-31 23:57:28,132.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631051,B02765,2015-01-31 23:57:32,112.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631052,B02765,2015-01-31 23:58:18,50.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631053,B02765,2015-01-31 23:59:02,169.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631054,B02765,2015-01-31 23:59:07,80.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631055,B02765,2015-01-31 23:59:34,186.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631056,B02765,2015-01-31 23:59:40,181.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1631057,B02765,2015-01-31 23:59:48,79.0,116,B02765,GRUN LLC,UBER-GRUN LLC

In [159]:
FHVdataJan15.dropna(axis=0,inplace=True)
FHVdataJan15.sort(columns="Pickup_date", ascending=True)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

,Dispatching_base_num,Pickup_date,locationID,index,LICENSEE NUMBER,NAME OF LICENSEE,ALTERNATE NAME OF LICENSEE
670102,B02764,2015-01-01 00:00:05,255.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
382236,B02682,2015-01-01 00:00:08,113.0,100,B02682,SCHMECKEN LLC,UBER-SCHMECKEN LLC
382237,B02682,2015-01-01 00:00:11,234.0,100,B02682,SCHMECKEN LLC,UBER-SCHMECKEN LLC
670103,B02764,2015-01-01 00:00:13,232.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
42315,B02617,2015-01-01 00:00:14,90.0,95,B02617,WEITER LLC,UBER-WEITER LLC
42316,B02617,2015-01-01 00:00:16,225.0,95,B02617,WEITER LLC,UBER-WEITER LLC
670104,B02764,2015-01-01 00:00:19,181.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
42317,B02617,2015-01-01 00:00:27,33.0,95,B02617,WEITER LLC,UBER-WEITER LLC
670105,B02764,2015-01-01 00:00:27,231.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
670106,B02764,2015-01-01 00:00:28,68.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
670107,B02764,2015-01-01 00:00:29,141.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
670108,B02764,2015-01-01 00:00:29,185.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
670109,B02764,2015-01-01 00:00:31,61.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
382238,B02682,2015-01-01 00:00:32,14.0,100,B02682,SCHMECKEN LLC,UBER-SCHMECKEN LLC
42318,B02617,2015-01-01 00:00:34,106.0,95,B02617,WEITER LLC,UBER-WEITER LLC
382239,B02682,2015-01-01 00:00:35,4.0,100,B02682,SCHMECKEN LLC,UBER-SCHMECKEN LLC
382240,B02682,2015-01-01 00:00:36,106.0,100,B02682,SCHMECKEN LLC,UBER-SCHMECKEN LLC
670110,B02764,2015-01-01 00:00:38,169.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
670111,B02764,2015-01-01 00:00:39,229.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
670112,B02764,2015-01-01 00:00:39,265.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
670113,B02764,2015-01-01 00:00:41,148.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
42319,B02617,2015-01-01 00:00:45,256.0,95,B02617,WEITER LLC,UBER-WEITER LLC
382241,B02682,2015-01-01 00:00:48,107.0,100,B02682,SCHMECKEN LLC,UBER-SCHMECKEN LLC
670114,B02764,2015-01-01 00:00:48,24.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
670115,B02764,2015-01-01 00:00:52,36.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
670116,B02764,2015-01-01 00:00:53,112.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
670117,B02764,2015-01-01 00:00:54,137.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
670118,B02764,2015-01-01 00:01:01,231.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
670119,B02764,2015-01-01 00:01:03,36.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
670122,B02764,2015-01-01 00:01:08,141.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
...,...,...,...,...,...,...,...
1631056,B02765,2015-01-31 23:59:40,181.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1576313,B02764,2015-01-31 23:59:40,263.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
670099,B02682,2015-01-31 23:59:41,200.0,100,B02682,SCHMECKEN LLC,UBER-SCHMECKEN LLC
670098,B02682,2015-01-31 23:59:41,17.0,100,B02682,SCHMECKEN LLC,UBER-SCHMECKEN LLC
382229,B02617,2015-01-31 23:59:42,113.0,95,B02617,WEITER LLC,UBER-WEITER LLC
1576314,B02764,2015-01-31 23:59:42,97.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
382230,B02617,2015-01-31 23:59:42,113.0,95,B02617,WEITER LLC,UBER-WEITER LLC
1576315,B02764,2015-01-31 23:59:43,231.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
1576316,B02764,2015-01-31 23:59:44,79.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
382231,B02617,2015-01-31 23:59:45,40.0,95,B02617,WEITER LLC,UBER-WEITER LLC
1576317,B02764,2015-01-31 23:59:46,255.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
1576318,B02764,2015-01-31 23:59:46,112.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
670100,B02682,2015-01-31 23:59:46,233.0,100,B02682,SCHMECKEN LLC,UBER-SCHMECKEN LLC
1576319,B02764,2015-01-31 23:59:47,239.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
382232,B02617,2015-01-31 23:59:47,158.0,95,B02617,WEITER LLC,UBER-WEITER LLC
1631057,B02765,2015-01-31 23:59:48,79.0,116,B02765,GRUN LLC,UBER-GRUN LLC
1576320,B02764,2015-01-31 23:59:49,114.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
670101,B02682,2015-01-31 23:59:50,79.0,100,B02682,SCHMECKEN LLC,UBER-SCHMECKEN LLC
1576322,B02764,2015-01-31 23:59:50,249.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
1576321,B02764,2015-01-31 23:59:50,231.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
1576324,B02764,2015-01-31 23:59:52,249.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
1576323,B02764,2015-01-31 23:59:52,249.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
1576325,B02764,2015-01-31 23:59:53,164.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
1576327,B02764,2015-01-31 23:59:56,148.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
1576326,B02764,2015-01-31 23:59:56,79.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
382234,B02617,2015-01-31 23:59:57,144.0,95,B02617,WEITER LLC,UBER-WEITER LLC
1576328,B02764,2015-01-31 23:59:57,144.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"
382233,B02617,2015-01-31 23:59:57,144.0,95,B02617,WEITER LLC,UBER-WEITER LLC
382235,B02617,2015-01-31 23:59:58,142.0,95,B02617,WEITER LLC,UBER-WEITER LLC
1576329,B02764,2015-01-31 23:59:59,141.0,115,B02764,"DANACH-NY,LLC","UBER-DANACH-NY,LLC"

In [147]:
UberJanJun15["Pickup_date"] = pd.to_datetime(UberJanJun15["Pickup_date"])

In [152]:
UberJan15 = UberJanJun15[UberJanJun15["Pickup_date"].dt.month == 1 ]
UberJan15.head()

In [154]:
UberJan15.dropna(axis=0,inplace=True)
UberJan15.sort(columns="Pickup_date", ascending=True)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID
90608,B02598,2015-01-01 00:00:05,B02598,144
832778,B02764,2015-01-01 00:00:05,B02764,255
9371715,B02682,2015-01-01 00:00:08,B02682,113
9368311,B02682,2015-01-01 00:00:11,B02617,234
1084752,B02764,2015-01-01 00:00:13,B02764,232
7080479,B02617,2015-01-01 00:00:14,B02617,90
7077415,B02617,2015-01-01 00:00:16,B02617,225
7696272,B02764,2015-01-01 00:00:19,B02764,181
7115336,B02617,2015-01-01 00:00:27,B02764,33
11691704,B02764,2015-01-01 00:00:27,B02764,231
833380,B02764,2015-01-01 00:00:28,B02764,68
7397758,B02764,2015-01-01 00:00:29,B00789,141
11676068,B02764,2015-01-01 00:00:29,B02764,185
7397388,B02764,2015-01-01 00:00:31,B02764,61
9369141,B02682,2015-01-01 00:00:32,B02682,14
7166402,B02617,2015-01-01 00:00:34,B02764,106
9472048,B02682,2015-01-01 00:00:35,B02682,4
9469471,B02682,2015-01-01 00:00:36,B02682,106
11932852,B02764,2015-01-01 00:00:38,B02764,169
7394946,B02764,2015-01-01 00:00:39,B00448,265
8042461,B02764,2015-01-01 00:00:39,B02764,229
11929162,B02764,2015-01-01 00:00:41,B02764,148
7049356,B02617,2015-01-01 00:00:45,B02617,256
829828,B02764,2015-01-01 00:00:48,B02764,24
9474941,B02682,2015-01-01 00:00:48,B02682,107
830046,B02764,2015-01-01 00:00:52,B02764,36
58773,B02598,2015-01-01 00:00:53,B02598,186
11933622,B02764,2015-01-01 00:00:53,B02764,112
6471254,B02764,2015-01-01 00:00:54,B02764,137
830691,B02764,2015-01-01 00:01:01,B00014,231
...,...,...,...,...
877954,B02598,2015-01-31 23:59:41,B02598,255
11001738,B02682,2015-01-31 23:59:41,B02682,17
10950241,B02682,2015-01-31 23:59:41,B02682,200
8605187,B02617,2015-01-31 23:59:42,B02617,113
8609303,B02617,2015-01-31 23:59:42,B02617,113
2025483,B02764,2015-01-31 23:59:42,B02764,97
3736685,B02764,2015-01-31 23:59:43,B02764,231
11942750,B02764,2015-01-31 23:59:44,B02764,79
8530065,B02617,2015-01-31 23:59:45,B02617,40
4287705,B02764,2015-01-31 23:59:46,B02764,112
5376001,B02764,2015-01-31 23:59:46,B01877,255
11016786,B02682,2015-01-31 23:59:46,B02682,233
5976745,B02764,2015-01-31 23:59:47,B02764,239
8529353,B02617,2015-01-31 23:59:47,B02617,158
13977710,B02765,2015-01-31 23:59:48,B02765,79
901906,B02598,2015-01-31 23:59:49,B02764,114
5288378,B02764,2015-01-31 23:59:49,B02764,114
6035508,B02764,2015-01-31 23:59:50,B02682,249
11021960,B02682,2015-01-31 23:59:50,B02682,79
2194921,B02764,2015-01-31 23:59:50,B02764,231
6684878,B02764,2015-01-31 23:59:52,B02764,249
6001032,B02764,2015-01-31 23:59:52,B02764,249
1437809,B02764,2015-01-31 23:59:53,B02764,164
4281647,B02764,2015-01-31 23:59:56,B02764,148
1450878,B02764,2015-01-31 23:59:56,B02764,79
8529905,B02617,2015-01-31 23:59:57,B02764,144
8601507,B02617,2015-01-31 23:59:57,B02764,144
11822232,B02764,2015-01-31 23:59:57,B02440,144
8564021,B02617,2015-01-31 23:59:58,B02617,142
2830481,B02764,2015-01-31 23:59:59,B02764,141

In [153]:
UberJan15

,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID
336,B02598,2015-01-18 15:44:45,NaN,243
337,B02598,2015-01-18 05:13:29,B02598,107
338,B02598,2015-01-18 15:36:13,B02598,170
339,B02598,2015-01-18 00:02:54,NaN,144
340,B02598,2015-01-18 17:55:53,B02598,211
341,B02598,2015-01-18 01:09:42,B02764,263
342,B02598,2015-01-18 11:06:58,B02598,7
343,B02598,2015-01-18 22:48:30,B02598,45
344,B02598,2015-01-18 00:55:44,B02598,33
345,B02598,2015-01-18 02:28:16,B02598,125
346,B02598,2015-01-18 14:46:41,B02598,85
347,B02598,2015-01-18 14:17:13,B02598,256
348,B02598,2015-01-18 17:33:18,B02598,246
349,B02598,2015-01-18 16:29:08,B02598,25
350,B02598,2015-01-18 18:04:45,B02598,246
351,B02598,2015-01-18 12:40:52,B02598,137
352,B02598,2015-01-18 00:08:14,B02598,142
353,B02598,2015-01-18 13:04:28,B02598,143
354,B02598,2015-01-18 22:19:04,B02598,158
355,B02598,2015-01-18 20:22:04,B02598,255
356,B02598,2015-01-18 13:01:41,B02598,74
357,B02598,2015-01-18 15:06:25,B02598,229
358,B02598,2015-01-18 12:04:09,B02598,114
359,B02598,2015-01-18 01:19:48,B02598,158
360,B02598,2015-01-18 12:50:52,B02598,246
361,B02598,2015-01-18 12:53:00,B02598,61
362,B02598,2015-01-18 19:00:23,B02598,211
363,B02598,2015-01-18 00:30:59,B02598,50
364,B02598,2015-01-18 15:31:10,NaN,233
365,B02598,2015-01-18 18:32:25,B02598,114
...,...,...,...,...
14239228,B02765,2015-01-04 00:29:57,B02764,249
14239229,B02765,2015-01-04 00:54:56,B02764,25
14239230,B02765,2015-01-04 12:14:52,B02512,237
14239231,B02765,2015-01-04 01:06:02,B02764,246
14239232,B02765,2015-01-04 01:21:26,B02764,87
14239233,B02765,2015-01-04 16:04:22,B02729,232
14239234,B02765,2015-01-04 13:26:49,B02765,40
14239235,B02765,2015-01-04 00:39:08,B02764,79
14239236,B02765,2015-01-04 13:04:46,B00789,138
14239237,B02765,2015-01-04 17:57:04,B02764,141
14239238,B02765,2015-01-04 01:36:57,B02774,87
14239239,B02765,2015-01-04 13:40:41,B02682,236
14239240,B02765,2015-01-04 23:06:12,B02617,230
14239241,B02765,2015-01-04 23:21:42,B00013,234
14239242,B02765,2015-01-04 00:20:30,B02617,114
14239243,B02765,2015-01-04 10:36:59,B00789,236
14239244,B02765,2015-01-04 14:09:16,B02765,66
14239245,B02765,2015-01-04 19:22:14,B02774,75
14239246,B02765,2015-01-04 16:52:49,B02285,138
14239247,B02765,2015-01-04 23:33:35,B02764,113
14239248,B02765,2015-01-04 11:48:20,B02764,142
14239249,B02765,2015-01-04 16:16:51,B02003,234
14239250,B02765,2015-01-04 01:47:44,B02617,106
14239251,B02765,2015-01-04 03:57:21,B02617,114
14239252,B02765,2015-01-04 15:32:40,B00789,107
14239253,B02765,2015-01-04 13:35:16,B02682,249
14239254,B02765,2015-01-04 01:47:41,B02764,114
14239255,B02765,2015-01-04 19:27:16,B02646,224
14239256,B02765,2015-01-04 16:50:50,B00477,25
14239761,B02765,2015-01-04 11:35:28,B02764,226

In [160]:
print(FHVdataJan15.Dispatching_base_num.unique())
print(UberJan15.Dispatching_base_num.unique())

['B02512' 'B02617' 'B02682' 'B02764' 'B02765']
['B02598' 'B02764' 'B02682' 'B02617' 'B02512' 'B02765']

In [ ]:
common_cols = .columns.tolist()                         #generate list of column names
df12 = pd.merge(df1, df2, on=common_cols, how='inner')     #extract common rows with merge
df2 = df2[~df2['A'].isin(df12['A'])]

In [176]:
UberJan15[UberJan15["Dispatching_base_num"].str.contains('B02598')].count()
#TLCbases[TLCbases["LICENSEE NUMBER"].str.contains('B02598')]

Dispatching_base_num    242128
Pickup_date             242128
Affiliated_base_num     242128
locationID              242128
dtype: int64

In [178]:
len(UberJan15)-len(FHVdataJan15)

242128