In [2]:
import pandas as pd
import numpy as np
import pylab as pl
import os 
import sys
%matplotlib inline

In [3]:
#!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-01.csv

--2017-11-20 16:43:06--  https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-01.csv
Resolving s3.amazonaws.com... 52.216.128.253
Connecting to s3.amazonaws.com|52.216.128.253|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1985964692 (1.8G) [application/octet-stream]
Saving to: “yellow_tripdata_2015-01.csv”

100%[====================================>] 1,985,964,692 42.5M/s   in 43s

2017-11-20 16:43:50 (43.7 MB/s) - “yellow_tripdata_2015-01.csv” saved [1985964692/1985964692]

In [45]:
#!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2015-01.csv

--2017-11-20 18:51:26--  https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2015-01.csv
Resolving s3.amazonaws.com... 52.216.64.243
Connecting to s3.amazonaws.com|52.216.64.243|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 243307680 (232M) [application/octet-stream]
Saving to: “green_tripdata_2015-01.csv”

100%[======================================>] 243,307,680 58.3M/s   in 4.2s

2017-11-20 18:51:30 (54.8 MB/s) - “green_tripdata_2015-01.csv” saved [243307680/243307680]

In [48]:
#!wget https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-01.csv

--2017-11-20 19:06:05--  https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-01.csv
Resolving s3.amazonaws.com... 52.216.97.237
Connecting to s3.amazonaws.com|52.216.97.237|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 85733063 (82M) [text/csv]
Saving to: “fhv_tripdata_2015-01.csv”

100%[======================================>] 85,733,063  46.0M/s   in 1.8s

2017-11-20 19:06:07 (46.0 MB/s) - “fhv_tripdata_2015-01.csv” saved [85733063/85733063]

In [5]:
#!mv yellow_tripdata_2015-01.csv data

In [46]:
#!mv green_tripdata_2015-01.csv data

In [50]:
#!mv fhv_tripdata_2015-01.csv data

In [6]:
taxi_data = pd.read_csv("data/yellow_tripdata_2015-01.csv")

In [3]:
fhv_data = pd.read_csv("data/fhv_tripdata_2015-01.csv")

In [4]:
#taxi_data.head()

NameError: name 'taxi_data' is not defined

In [8]:
#taxi_data.shape

(12748986, 19)

In [10]:
weather_data = pd.read_csv("data/1106040.csv")

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (14,15,20,23,25,40,84,85,86,87) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
#taxi_data.tpep_pickup_datetime = pd.to_datetime(taxi_data.tpep_pickup_datetime)

In [5]:
def get_times(data):
    x, y = data
    return (x, y)

In [21]:
#taxi_data['day'] = taxi_data.tpep_pickup_datetime.dt.day
#taxi_data['hour'] = taxi_data.tpep_pickup_datetime.dt.hour

In [27]:
#taxi_data['DAY_HOUR'] = taxi_data[['day', 'hour']].apply(get_times, axis=1)

In [28]:
#taxi_data['DAY_HOUR'].head()

0    (15, 19)
1    (10, 20)
2    (10, 20)
3    (10, 20)
4    (10, 20)
Name: DAY_HOUR, dtype: object

In [6]:
fhv_sub = fhv_data[fhv_data.locationID.isnull() == False]

In [7]:
fhv_sub.Pickup_date = pd.to_datetime(fhv_sub.Pickup_date)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [8]:
fhv_sub['day'] = fhv_sub.Pickup_date.dt.day
fhv_sub['hour'] = fhv_sub.Pickup_date.dt.hour
fhv_sub['DAY_HOUR'] = fhv_sub[['day', 'hour']].apply(get_times, axis=1)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [9]:
fhv_fin = fhv_sub.groupby(['locationID','DAY_HOUR']).count().reset_index()

In [13]:
weather_data.Date = pd.to_datetime(weather_data.DATE)

In [14]:
weather_subdata = weather_data[weather_data.Date.dt.month == 1]

In [33]:
weather_subdata.DATE =  pd.to_datetime(weather_subdata.DATE)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [35]:
weather_subdata['day'] = weather_subdata.DATE.dt.day
weather_subdata['hour'] = weather_subdata.DATE.dt.hour

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [37]:
weather_subdata['DAY_HOUR'] = weather_subdata[['day','hour']].apply(get_times, axis=1)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [38]:
weather_subdata['DAY_HOUR'].head()

8789    (1, 0)
8790    (1, 1)
8791    (1, 2)
8792    (1, 3)
8793    (1, 4)
Name: DAY_HOUR, dtype: object

In [40]:
merged_taxi = taxi_data.merge(weather_subdata, left_on='DAY_HOUR', right_on='DAY_HOUR')

In [41]:
merged_taxi.shape

(17977607, 114)

In [43]:
merged_taxi[['tpep_pickup_datetime','DATE']].head()

  tpep_pickup_datetime                DATE
0  2015-01-15 19:05:39 2015-01-15 19:51:00
1  2015-01-15 19:05:39 2015-01-15 19:51:00
2  2015-01-15 19:05:40 2015-01-15 19:51:00
3  2015-01-15 19:05:40 2015-01-15 19:51:00
4  2015-01-15 19:05:41 2015-01-15 19:51:00

In [81]:
merged_fhv = fhv_fin.merge(weather_subdata, left_on='DAY_HOUR', right_on='DAY_HOUR')

In [83]:
merged_fhv.head()

,locationID,DAY_HOUR,Dispatching_base_num,Pickup_date,day_x,hour_x,STATION,STATION_NAME,ELEVATION,LATITUDE,...,MonthlyMinSeaLevelPressureDate,MonthlyMinSeaLevelPressureTime,MonthlyTotalHeatingDegreeDays,MonthlyTotalCoolingDegreeDays,MonthlyDeptFromNormalHeatingDD,MonthlyDeptFromNormalCoolingDD,MonthlyTotalSeasonToDateHeatingDD,MonthlyTotalSeasonToDateCoolingDD,day_y,hour_y
0,1.0,"(1, 15)",1,1,1,1,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
1,2.0,"(1, 15)",1,1,1,1,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
2,4.0,"(1, 15)",19,19,19,19,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
3,5.0,"(1, 15)",1,1,1,1,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
4,7.0,"(1, 15)",16,16,16,16,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
5,10.0,"(1, 15)",1,1,1,1,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
6,11.0,"(1, 15)",1,1,1,1,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
7,12.0,"(1, 15)",4,4,4,4,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
8,13.0,"(1, 15)",10,10,10,10,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
9,14.0,"(1, 15)",1,1,1,1,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
10,16.0,"(1, 15)",1,1,1,1,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
11,17.0,"(1, 15)",14,14,14,14,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
12,18.0,"(1, 15)",5,5,5,5,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
13,20.0,"(1, 15)",6,6,6,6,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
14,22.0,"(1, 15)",3,3,3,3,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
15,24.0,"(1, 15)",3,3,3,3,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
16,25.0,"(1, 15)",8,8,8,8,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
17,26.0,"(1, 15)",2,2,2,2,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
18,28.0,"(1, 15)",2,2,2,2,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
19,29.0,"(1, 15)",1,1,1,1,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15

In [1]:
fhv_sub.groupby('locationID', 'DAY_HOUR').count()

NameError: name 'fhv_sub' is not defined