In [ ]:
import pandas as pd
import numpy as np
import pylab as pl
import os 
import sys
import geopandas as gpd
from geopandas import GeoDataFrame
from shapely.geometry import Point
import scipy.stats as st
import statsmodels.formula.api as smf

%matplotlib inline

# Download Data

# Make Data Directory
!mkdir Data

# Download Yellow Taxi Data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-01.csv    
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-02.csv    
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-03.csv    
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-04.csv    
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-05.csv    
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-06.csv    
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-07.csv    
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-08.csv    
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-09.csv    
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-10.csv    
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-11.csv    
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-12.csv    
    
# Move Files to Downloads
!mv yellow_tripdata_2015-01.csv Data
!mv yellow_tripdata_2015-02.csv Data
!mv yellow_tripdata_2015-03.csv Data
!mv yellow_tripdata_2015-04.csv Data
!mv yellow_tripdata_2015-05.csv Data
!mv yellow_tripdata_2015-06.csv Data
!mv yellow_tripdata_2015-07.csv Data
!mv yellow_tripdata_2015-08.csv Data
!mv yellow_tripdata_2015-09.csv Data
!mv yellow_tripdata_2015-10.csv Data
!mv yellow_tripdata_2015-11.csv Data
!mv yellow_tripdata_2015-12.csv Data

# Download Green Taxi Data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2015-01.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2015-02.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2015-03.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2015-04.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2015-05.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2015-06.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2015-07.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2015-08.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2015-09.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2015-10.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2015-11.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2015-12.csv

# Move data to downloads
!mv green_tripdata_2015-01.csv Data
!mv green_tripdata_2015-02.csv Data
!mv green_tripdata_2015-03.csv Data
!mv green_tripdata_2015-04.csv Data
!mv green_tripdata_2015-05.csv Data
!mv green_tripdata_2015-06.csv Data
!mv green_tripdata_2015-07.csv Data
!mv green_tripdata_2015-08.csv Data
!mv green_tripdata_2015-09.csv Data
!mv green_tripdata_2015-10.csv Data
!mv green_tripdata_2015-11.csv Data
!mv green_tripdata_2015-12.csv Data

# Download FHV Taxi Data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-01.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-02.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-03.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-04.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-05.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-06.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-07.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-08.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-09.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-10.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-11.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-12.csv
    
# Move data to downloads
!mv fhv_tripdata_2015-01.csv Data
!mv fhv_tripdata_2015-02.csv Data
!mv fhv_tripdata_2015-03.csv Data
!mv fhv_tripdata_2015-04.csv Data
!mv fhv_tripdata_2015-05.csv Data
!mv fhv_tripdata_2015-06.csv Data
!mv fhv_tripdata_2015-07.csv Data
!mv fhv_tripdata_2015-08.csv Data
!mv fhv_tripdata_2015-09.csv Data
!mv fhv_tripdata_2015-10.csv Data
!mv fhv_tripdata_2015-11.csv Data
!mv fhv_tripdata_2015-12.csv Data

# Download Taxi Zones Data
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi_zones.zip
!mv taxi_zones.zip Data
!mkdir Data/Taxi_Zone_Shapefile
!unzip Data/taxi_zones.zip -d Data/Taxi_Zone_Shapefile

# Download weather data
!wget https://raw.githubusercontent.com/andrewnell/Taxi_Demand_NYC_ADS/master/data/1106040.csv
    
!mv 1106040.csv Data

# Format Taxi Data Sets for Merge

### Taxi Zone Data

In [5]:
# Read in taxi zones
taxizones = gpd.read_file("Data/Taxi_Zone_Shapefile/taxi_zones.shp")

In [6]:
# Convert CRS to functional one
taxizones = taxizones.to_crs(epsg=2263)

In [7]:
# Drop redundant columns
taxizones.drop(['OBJECTID','Shape_Leng','Shape_Area'],axis=1,inplace=True)
taxizones.head()

,zone,LocationID,borough,geometry
0,Newark Airport,1,EWR,"POLYGON ((933100.9183527121 192536.0857092953,..."
1,Jamaica Bay,2,Queens,(POLYGON ((1033269.243591295 172126.0078245941...
2,Allerton/Pelham Gardens,3,Bronx,"POLYGON ((1026308.769506665 256767.6975524619,..."
3,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,..."
4,Arden Heights,5,Staten Island,"POLYGON ((935843.3104932597 144283.3358627402,..."

### Yellow Taxis

In [46]:
# Read in Yellow Data
YT_data01 = pd.read_csv("Data/yellow_tripdata_2015-01.csv")
print(1)
YT_data02 = pd.read_csv("Data/yellow_tripdata_2015-02.csv")
print(2)
YT_data03 = pd.read_csv("Data/yellow_tripdata_2015-03.csv")
print(3)
YT_data04 = pd.read_csv("Data/yellow_tripdata_2015-04.csv")
print(4)
YT_data05 = pd.read_csv("Data/yellow_tripdata_2015-05.csv")
print(5)
YT_data06 = pd.read_csv("Data/yellow_tripdata_2015-06.csv")
print(6)
YT_data07 = pd.read_csv("Data/yellow_tripdata_2015-07.csv")
print(7)
YT_data08 = pd.read_csv("Data/yellow_tripdata_2015-08.csv")
print(8)
YT_data09 = pd.read_csv("Data/yellow_tripdata_2015-09.csv")
print(9)
YT_data10 = pd.read_csv("Data/yellow_tripdata_2015-10.csv")
print(10)
YT_data11 = pd.read_csv("Data/yellow_tripdata_2015-11.csv")
print(11)
YT_data12 = pd.read_csv("Data/yellow_tripdata_2015-12.csv")
print(12)

1
2
3
4
5
6
7
8
9
10
11
12

In [47]:
# Select only relevant columns
YT_data01 = YT_data01[['tpep_pickup_datetime','pickup_longitude','pickup_latitude']]
YT_data02 = YT_data02[['tpep_pickup_datetime','pickup_longitude','pickup_latitude']]
YT_data03 = YT_data03[['tpep_pickup_datetime','pickup_longitude','pickup_latitude']]
YT_data04 = YT_data04[['tpep_pickup_datetime','pickup_longitude','pickup_latitude']]
YT_data05 = YT_data05[['tpep_pickup_datetime','pickup_longitude','pickup_latitude']]
YT_data06 = YT_data06[['tpep_pickup_datetime','pickup_longitude','pickup_latitude']]
YT_data07 = YT_data07[['tpep_pickup_datetime','pickup_longitude','pickup_latitude']]
YT_data08 = YT_data08[['tpep_pickup_datetime','pickup_longitude','pickup_latitude']]
YT_data09 = YT_data09[['tpep_pickup_datetime','pickup_longitude','pickup_latitude']]
YT_data10 = YT_data10[['tpep_pickup_datetime','pickup_longitude','pickup_latitude']]
YT_data11 = YT_data11[['tpep_pickup_datetime','pickup_longitude','pickup_latitude']]
YT_data12 = YT_data12[['tpep_pickup_datetime','pickup_longitude','pickup_latitude']]

In [48]:
# Rename Columns for ease
YT_data01.rename(columns={'tpep_pickup_datetime': 'pickup_date'},inplace=True)
YT_data02.rename(columns={'tpep_pickup_datetime': 'pickup_date'},inplace=True)
YT_data03.rename(columns={'tpep_pickup_datetime': 'pickup_date'},inplace=True)
YT_data04.rename(columns={'tpep_pickup_datetime': 'pickup_date'},inplace=True)
YT_data05.rename(columns={'tpep_pickup_datetime': 'pickup_date'},inplace=True)
YT_data06.rename(columns={'tpep_pickup_datetime': 'pickup_date'},inplace=True)
YT_data07.rename(columns={'tpep_pickup_datetime': 'pickup_date'},inplace=True)
YT_data08.rename(columns={'tpep_pickup_datetime': 'pickup_date'},inplace=True)
YT_data09.rename(columns={'tpep_pickup_datetime': 'pickup_date'},inplace=True)
YT_data10.rename(columns={'tpep_pickup_datetime': 'pickup_date'},inplace=True)
YT_data11.rename(columns={'tpep_pickup_datetime': 'pickup_date'},inplace=True)
YT_data12.rename(columns={'tpep_pickup_datetime': 'pickup_date'},inplace=True)

In [49]:
# Add in Column for BAse Data
YT_data01['Base'] = 'Yellow'
YT_data02['Base'] = 'Yellow'
YT_data03['Base'] = 'Yellow'
YT_data04['Base'] = 'Yellow'
YT_data05['Base'] = 'Yellow'
YT_data06['Base'] = 'Yellow'
YT_data07['Base'] = 'Yellow'
YT_data08['Base'] = 'Yellow'
YT_data09['Base'] = 'Yellow'
YT_data10['Base'] = 'Yellow'
YT_data11['Base'] = 'Yellow'
YT_data12['Base'] = 'Yellow'

In [50]:
# Convert Lat Long into point geometry
crs = {'init':'epsg:4326'}

# Convert 1
geometry = [Point(xy) for xy in zip(YT_data01.pickup_longitude, 
                                    YT_data01.pickup_latitude)]
YT_data01 = GeoDataFrame(YT_data01, crs=crs, geometry=geometry)
print(1)

# Convert 2
geometry = [Point(xy) for xy in zip(YT_data02.pickup_longitude, 
                                    YT_data02.pickup_latitude)]
YT_data02 = GeoDataFrame(YT_data02, crs=crs, geometry=geometry)
print(2)

# Convert 3
geometry = [Point(xy) for xy in zip(YT_data03.pickup_longitude, 
                                    YT_data03.pickup_latitude)]
YT_data03 = GeoDataFrame(YT_data03, crs=crs, geometry=geometry)
print(3)

# Convert 4
geometry = [Point(xy) for xy in zip(YT_data04.pickup_longitude, 
                                    YT_data04.pickup_latitude)]
YT_data04 = GeoDataFrame(YT_data04, crs=crs, geometry=geometry)
print(4)

# Convert 5
geometry = [Point(xy) for xy in zip(YT_data05.pickup_longitude, 
                                    YT_data05.pickup_latitude)]
YT_data05 = GeoDataFrame(YT_data05, crs=crs, geometry=geometry)
print(5)

# Convert 6
geometry = [Point(xy) for xy in zip(YT_data06.pickup_longitude, 
                                    YT_data06.pickup_latitude)]
YT_data06 = GeoDataFrame(YT_data06, crs=crs, geometry=geometry)
print(6)

# Convert 7
geometry = [Point(xy) for xy in zip(YT_data07.pickup_longitude, 
                                    YT_data07.pickup_latitude)]
YT_data07 = GeoDataFrame(YT_data07, crs=crs, geometry=geometry)
print(7)

# Convert 8
geometry = [Point(xy) for xy in zip(YT_data08.pickup_longitude, 
                                    YT_data08.pickup_latitude)]
YT_data08 = GeoDataFrame(YT_data08, crs=crs, geometry=geometry)
print(8)

# Convert 9
geometry = [Point(xy) for xy in zip(YT_data09.pickup_longitude, 
                                    YT_data09.pickup_latitude)]
YT_data09 = GeoDataFrame(YT_data09, crs=crs, geometry=geometry)
print(9)

# Convert 10
geometry = [Point(xy) for xy in zip(YT_data10.pickup_longitude, 
                                    YT_data10.pickup_latitude)]
YT_data10 = GeoDataFrame(YT_data10, crs=crs, geometry=geometry)
print(10)

# Convert 11
geometry = [Point(xy) for xy in zip(YT_data11.pickup_longitude, 
                                    YT_data11.pickup_latitude)]
YT_data11 = GeoDataFrame(YT_data11, crs=crs, geometry=geometry)
print(11)

# Convert 12
geometry = [Point(xy) for xy in zip(YT_data12.pickup_longitude, 
                                    YT_data12.pickup_latitude)]
YT_data12 = GeoDataFrame(YT_data12, crs=crs, geometry=geometry)
print(12)

1
2
3
4
5
6
7
8
9
10
11
12

In [52]:
# Drop Coords out of range 
#West -74.257159 East -73.699215
#North 40.915568 South 40.495992
# For 1
YT_data01 = YT_data01[~((YT_data01.pickup_longitude < -74.5) | (YT_data01.pickup_longitude > -73))]
YT_data01 = YT_data01[~((YT_data01.pickup_latitude < 40) | (YT_data01.pickup_latitude > 41))]

# For 2
YT_data02 = YT_data02[~((YT_data02.pickup_longitude < -74.5) | (YT_data02.pickup_longitude > -73))]
YT_data02 = YT_data02[~((YT_data02.pickup_latitude < 40) | (YT_data02.pickup_latitude > 41))]

# For 3
YT_data03 = YT_data03[~((YT_data03.pickup_longitude < -74.5) | (YT_data03.pickup_longitude > -73))]
YT_data03 = YT_data03[~((YT_data03.pickup_latitude < 40) | (YT_data03.pickup_latitude > 41))]

# For 4
YT_data04 = YT_data04[~((YT_data04.pickup_longitude < -74.5) | (YT_data04.pickup_longitude > -73))]
YT_data04 = YT_data04[~((YT_data04.pickup_latitude < 40) | (YT_data04.pickup_latitude > 41))]

# For 5
YT_data05 = YT_data05[~((YT_data05.pickup_longitude < -74.5) | (YT_data05.pickup_longitude > -73))]
YT_data05 = YT_data05[~((YT_data05.pickup_latitude < 40) | (YT_data05.pickup_latitude > 41))]

# For 6
YT_data06 = YT_data06[~((YT_data06.pickup_longitude < -74.5) | (YT_data06.pickup_longitude > -73))]
YT_data06 = YT_data06[~((YT_data06.pickup_latitude < 40) | (YT_data06.pickup_latitude > 41))]

# For 7
YT_data07 = YT_data07[~((YT_data07.pickup_longitude < -74.5) | (YT_data07.pickup_longitude > -73))]
YT_data07 = YT_data07[~((YT_data07.pickup_latitude < 40) | (YT_data07.pickup_latitude > 41))]

# For 8
YT_data08 = YT_data08[~((YT_data08.pickup_longitude < -74.5) | (YT_data08.pickup_longitude > -73))]
YT_data08 = YT_data08[~((YT_data08.pickup_latitude < 40) | (YT_data08.pickup_latitude > 41))]

# For 9
YT_data09 = YT_data09[~((YT_data09.pickup_longitude < -74.5) | (YT_data09.pickup_longitude > -73))]
YT_data09 = YT_data09[~((YT_data09.pickup_latitude < 40) | (YT_data09.pickup_latitude > 41))]

# For 10
YT_data10 = YT_data10[~((YT_data10.pickup_longitude < -74.5) | (YT_data10.pickup_longitude > -73))]
YT_data10 = YT_data10[~((YT_data10.pickup_latitude < 40) | (YT_data10.pickup_latitude > 41))]

# For 11
YT_data11 = YT_data11[~((YT_data11.pickup_longitude < -74.5) | (YT_data11.pickup_longitude > -73))]
YT_data11 = YT_data11[~((YT_data11.pickup_latitude < 40) | (YT_data11.pickup_latitude > 41))]

# For 12
YT_data12 = YT_data12[~((YT_data12.pickup_longitude < -74.5) | (YT_data12.pickup_longitude > -73))]
YT_data12 = YT_data12[~((YT_data12.pickup_latitude < 40) | (YT_data12.pickup_latitude > 41))]

In [53]:
# COnvert Cooords for Spatial join
YT_data01 =  YT_data01.to_crs(epsg=2263)
print(1)
YT_data02 =  YT_data02.to_crs(epsg=2263)
print(2)
YT_data03 =  YT_data03.to_crs(epsg=2263)
print(3)
YT_data04 =  YT_data04.to_crs(epsg=2263)
print(4)
YT_data05 =  YT_data05.to_crs(epsg=2263)
print(5)
YT_data06 =  YT_data06.to_crs(epsg=2263)
print(6)
YT_data07 =  YT_data07.to_crs(epsg=2263)
print(7)
YT_data08 =  YT_data08.to_crs(epsg=2263)
print(8)
YT_data09 =  YT_data09.to_crs(epsg=2263)
print(9)
YT_data10 =  YT_data10.to_crs(epsg=2263)
print(10)
YT_data11 =  YT_data11.to_crs(epsg=2263)
print(11)
YT_data12 =  YT_data12.to_crs(epsg=2263)
print(12)

1
2
3
4
5
6
7
8
9
10
11
12

In [67]:
# Conduct Spatial Join to identify tazi zone of pickup
YT_data01 = gpd.sjoin(YT_data01, taxizones,op='within')
print(1)
YT_data02 = gpd.sjoin(YT_data02, taxizones,op='within')
print(2)
YT_data03 = gpd.sjoin(YT_data03, taxizones,op='within')
print(3)
YT_data04 = gpd.sjoin(YT_data04, taxizones,op='within')
print(4)
YT_data05 = gpd.sjoin(YT_data05, taxizones,op='within')
print(5)
YT_data06 = gpd.sjoin(YT_data06, taxizones,op='within')
print(6)
YT_data07 = gpd.sjoin(YT_data07, taxizones,op='within')
print(7)
YT_data08 = gpd.sjoin(YT_data08, taxizones,op='within')
print(8)
YT_data09 = gpd.sjoin(YT_data09, taxizones,op='within')
print(9)
YT_data10 = gpd.sjoin(YT_data10, taxizones,op='within')
print(10)
YT_data11 = gpd.sjoin(YT_data11, taxizones,op='within')
print(11)
YT_data12 = gpd.sjoin(YT_data12, taxizones,op='within')
print(12)

1
2
3
4
5
6
7
8
9
10
11
12

In [77]:
# Drop Columns
YT_data01 = YT_data01[['pickup_date','LocationID','zone','borough','Base']]
YT_data02 = YT_data02[['pickup_date','LocationID','zone','borough','Base']]
YT_data03 = YT_data03[['pickup_date','LocationID','zone','borough','Base']]
YT_data04 = YT_data04[['pickup_date','LocationID','zone','borough','Base']]
YT_data05 = YT_data05[['pickup_date','LocationID','zone','borough','Base']]
YT_data06 = YT_data06[['pickup_date','LocationID','zone','borough','Base']]
YT_data07 = YT_data07[['pickup_date','LocationID','zone','borough','Base']]
YT_data08 = YT_data08[['pickup_date','LocationID','zone','borough','Base']]
YT_data09 = YT_data09[['pickup_date','LocationID','zone','borough','Base']]
YT_data10 = YT_data10[['pickup_date','LocationID','zone','borough','Base']]
YT_data11 = YT_data11[['pickup_date','LocationID','zone','borough','Base']]
YT_data12 = YT_data12[['pickup_date','LocationID','zone','borough','Base']]

In [78]:
# Create Day and Hour Columns

# For 1
YT_data01.pickup_date = pd.to_datetime(YT_data01.pickup_date)
YT_data01['date'] = YT_data01.pickup_date.dt.date
YT_data01['hour'] = YT_data01.pickup_date.dt.hour

# For 2
YT_data02.pickup_date = pd.to_datetime(YT_data02.pickup_date)
YT_data02['date'] = YT_data02.pickup_date.dt.date
YT_data02['hour'] = YT_data02.pickup_date.dt.hour

# For 3
YT_data03.pickup_date = pd.to_datetime(YT_data03.pickup_date)
YT_data03['date'] = YT_data03.pickup_date.dt.date
YT_data03['hour'] = YT_data03.pickup_date.dt.hour

# For 4
YT_data04.pickup_date = pd.to_datetime(YT_data04.pickup_date)
YT_data04['date'] = YT_data04.pickup_date.dt.date
YT_data04['hour'] = YT_data04.pickup_date.dt.hour

# For 5
YT_data05.pickup_date = pd.to_datetime(YT_data05.pickup_date)
YT_data05['date'] = YT_data05.pickup_date.dt.date
YT_data05['hour'] = YT_data05.pickup_date.dt.hour

# For 6
YT_data06.pickup_date = pd.to_datetime(YT_data06.pickup_date)
YT_data06['date'] = YT_data06.pickup_date.dt.date
YT_data06['hour'] = YT_data06.pickup_date.dt.hour

# For 7
YT_data07.pickup_date = pd.to_datetime(YT_data07.pickup_date)
YT_data07['date'] = YT_data07.pickup_date.dt.date
YT_data07['hour'] = YT_data07.pickup_date.dt.hour

# For 8
YT_data08.pickup_date = pd.to_datetime(YT_data08.pickup_date)
YT_data08['date'] = YT_data08.pickup_date.dt.date
YT_data08['hour'] = YT_data08.pickup_date.dt.hour

# For 9
YT_data09.pickup_date = pd.to_datetime(YT_data09.pickup_date)
YT_data09['date'] = YT_data09.pickup_date.dt.date
YT_data09['hour'] = YT_data09.pickup_date.dt.hour

# For 10
YT_data10.pickup_date = pd.to_datetime(YT_data10.pickup_date)
YT_data10['date'] = YT_data10.pickup_date.dt.date
YT_data10['hour'] = YT_data10.pickup_date.dt.hour

# For 11
YT_data11.pickup_date = pd.to_datetime(YT_data11.pickup_date)
YT_data11['date'] = YT_data11.pickup_date.dt.date
YT_data11['hour'] = YT_data11.pickup_date.dt.hour

# For 12
YT_data12.pickup_date = pd.to_datetime(YT_data12.pickup_date)
YT_data12['date'] = YT_data12.pickup_date.dt.date
YT_data12['hour'] = YT_data12.pickup_date.dt.hour

In [80]:
# Create 12 month yellow taxi data set
YT_data_12mnth = pd.concat([YT_data01,YT_data02,YT_data03,
                            YT_data04,YT_data05,YT_data06,
                            YT_data07,YT_data08,YT_data09,
                            YT_data10,YT_data11,YT_data12]).reset_index()
# Drop index column
YT_data_12mnth.drop(['index'],axis=1,inplace=True)

###############################################################################

# Create 6 month yellow taxi data set
YT_data_6mnth = pd.concat([YT_data01,YT_data02,YT_data03,
                           YT_data04,YT_data05,YT_data06]).reset_index()
# Drop index column
YT_data_6mnth.drop(['index'],axis=1,inplace=True)

In [81]:
YT_data_12mnth.head()

,pickup_date,LocationID,zone,borough,Base,date,hour
0,2015-01-15 19:05:39,186,Penn Station/Madison Sq West,Manhattan,Yellow,2015-01-15,19
1,2015-01-10 20:33:41,186,Penn Station/Madison Sq West,Manhattan,Yellow,2015-01-10,20
2,2015-01-15 19:05:42,186,Penn Station/Madison Sq West,Manhattan,Yellow,2015-01-15,19
3,2015-01-04 13:44:52,186,Penn Station/Madison Sq West,Manhattan,Yellow,2015-01-04,13
4,2015-01-15 14:00:45,186,Penn Station/Madison Sq West,Manhattan,Yellow,2015-01-15,14

In [82]:
YT_data_12mnth.shape

(143674796, 7)

In [83]:
YT_data_12mnth.to_csv('YellowTaxi_2015.csv')

### Green Taxis

In [84]:
# Read in Green Data
GT_data01 = pd.read_csv("Data/green_tripdata_2015-01.csv")
print(1)
GT_data02 = pd.read_csv("Data/green_tripdata_2015-02.csv")
print(2)
GT_data03 = pd.read_csv("Data/green_tripdata_2015-03.csv")
print(3)
GT_data04 = pd.read_csv("Data/green_tripdata_2015-04.csv")
print(4)
GT_data05 = pd.read_csv("Data/green_tripdata_2015-05.csv")
print(5)
GT_data06 = pd.read_csv("Data/green_tripdata_2015-06.csv")
print(6)
GT_data07 = pd.read_csv("Data/green_tripdata_2015-07.csv")
print(7)
GT_data08 = pd.read_csv("Data/green_tripdata_2015-08.csv")
print(8)
GT_data09 = pd.read_csv("Data/green_tripdata_2015-09.csv")
print(9)
GT_data10 = pd.read_csv("Data/green_tripdata_2015-10.csv")
print(10)
GT_data11 = pd.read_csv("Data/green_tripdata_2015-11.csv")
print(11)
GT_data12 = pd.read_csv("Data/green_tripdata_2015-12.csv")
print(12)

1
2
3
4
5
6
7
8
9
10
11
12

In [85]:
# Need to fix Green Taxi Columns for Jan to Jun

columns = GT_data01.columns
GT_data01 = GT_data01.reset_index()
GT_data01 = GT_data01.drop(['Payment_type','Trip_type '], axis=1)
GT_data01.columns = columns

columns = GT_data02.columns
GT_data02 = GT_data02.reset_index()
GT_data02 = GT_data02.drop(['Payment_type','Trip_type '], axis=1)
GT_data02.columns = columns

columns = GT_data03.columns
GT_data03 = GT_data03.reset_index()
GT_data03 = GT_data03.drop(['Payment_type','Trip_type '], axis=1)
GT_data03.columns = columns

columns = GT_data04.columns
GT_data04 = GT_data04.reset_index()
GT_data04 = GT_data04.drop(['Payment_type','Trip_type '], axis=1)
GT_data04.columns = columns

columns = GT_data05.columns
GT_data05 = GT_data05.reset_index()
GT_data05 = GT_data05.drop(['Payment_type','Trip_type '], axis=1)
GT_data05.columns = columns

columns = GT_data06.columns
GT_data06 = GT_data06.reset_index()
GT_data06 = GT_data06.drop(['Payment_type','Trip_type '], axis=1)
GT_data06.columns = columns

In [86]:
# Select only Relevant Columns
GT_data01 = GT_data01[['lpep_pickup_datetime','Pickup_longitude','Pickup_latitude']]
GT_data02 = GT_data02[['lpep_pickup_datetime','Pickup_longitude','Pickup_latitude']]
GT_data03 = GT_data03[['lpep_pickup_datetime','Pickup_longitude','Pickup_latitude']]
GT_data04 = GT_data04[['lpep_pickup_datetime','Pickup_longitude','Pickup_latitude']]
GT_data05 = GT_data05[['lpep_pickup_datetime','Pickup_longitude','Pickup_latitude']]
GT_data06 = GT_data06[['lpep_pickup_datetime','Pickup_longitude','Pickup_latitude']]
GT_data07 = GT_data07[['lpep_pickup_datetime','Pickup_longitude','Pickup_latitude']]
GT_data08 = GT_data08[['lpep_pickup_datetime','Pickup_longitude','Pickup_latitude']]
GT_data09 = GT_data09[['lpep_pickup_datetime','Pickup_longitude','Pickup_latitude']]
GT_data10 = GT_data10[['lpep_pickup_datetime','Pickup_longitude','Pickup_latitude']]
GT_data11 = GT_data11[['lpep_pickup_datetime','Pickup_longitude','Pickup_latitude']]
GT_data12 = GT_data12[['lpep_pickup_datetime','Pickup_longitude','Pickup_latitude']]

In [89]:
# Rename Columns for ease
GT_data01.rename(columns={'lpep_pickup_datetime': 'pickup_date',
                          'Pickup_longitude':'pickup_longitude',
                          'Pickup_latitude':'pickup_latitude'},inplace=True)
GT_data02.rename(columns={'lpep_pickup_datetime': 'pickup_date',
                          'Pickup_longitude':'pickup_longitude',
                          'Pickup_latitude':'pickup_latitude'},inplace=True)
GT_data03.rename(columns={'lpep_pickup_datetime': 'pickup_date',
                          'Pickup_longitude':'pickup_longitude',
                          'Pickup_latitude':'pickup_latitude'},inplace=True)
GT_data04.rename(columns={'lpep_pickup_datetime': 'pickup_date',
                          'Pickup_longitude':'pickup_longitude',
                          'Pickup_latitude':'pickup_latitude'},inplace=True)
GT_data05.rename(columns={'lpep_pickup_datetime': 'pickup_date',
                          'Pickup_longitude':'pickup_longitude',
                          'Pickup_latitude':'pickup_latitude'},inplace=True)
GT_data06.rename(columns={'lpep_pickup_datetime': 'pickup_date',
                          'Pickup_longitude':'pickup_longitude',
                          'Pickup_latitude':'pickup_latitude'},inplace=True)
GT_data07.rename(columns={'lpep_pickup_datetime': 'pickup_date',
                          'Pickup_longitude':'pickup_longitude',
                          'Pickup_latitude':'pickup_latitude'},inplace=True)
GT_data08.rename(columns={'lpep_pickup_datetime': 'pickup_date',
                          'Pickup_longitude':'pickup_longitude',
                          'Pickup_latitude':'pickup_latitude'},inplace=True)
GT_data09.rename(columns={'lpep_pickup_datetime': 'pickup_date',
                          'Pickup_longitude':'pickup_longitude',
                          'Pickup_latitude':'pickup_latitude'},inplace=True)
GT_data10.rename(columns={'lpep_pickup_datetime': 'pickup_date',
                          'Pickup_longitude':'pickup_longitude',
                          'Pickup_latitude':'pickup_latitude'},inplace=True)
GT_data11.rename(columns={'lpep_pickup_datetime': 'pickup_date',
                          'Pickup_longitude':'pickup_longitude',
                          'Pickup_latitude':'pickup_latitude'},inplace=True)
GT_data12.rename(columns={'lpep_pickup_datetime': 'pickup_date',
                          'Pickup_longitude':'pickup_longitude',
                          'Pickup_latitude':'pickup_latitude'},inplace=True)

In [90]:
# Add in Column for BAse Data
GT_data01['Base'] = 'Green'
GT_data02['Base'] = 'Green'
GT_data03['Base'] = 'Green'
GT_data04['Base'] = 'Green'
GT_data05['Base'] = 'Green'
GT_data06['Base'] = 'Green'
GT_data07['Base'] = 'Green'
GT_data08['Base'] = 'Green'
GT_data09['Base'] = 'Green'
GT_data10['Base'] = 'Green'
GT_data11['Base'] = 'Green'
GT_data12['Base'] = 'Green'

In [91]:
# Convert Lat Long into point geometry
crs = {'init':'epsg:4326'}

# Convert 1
geometry = [Point(xy) for xy in zip(GT_data01.pickup_longitude, 
                                    GT_data01.pickup_latitude)]
GT_data01 = GeoDataFrame(GT_data01, crs=crs, geometry=geometry)
print(1)

# Convert 2
geometry = [Point(xy) for xy in zip(GT_data02.pickup_longitude, 
                                    GT_data02.pickup_latitude)]
GT_data02 = GeoDataFrame(GT_data02, crs=crs, geometry=geometry)
print(2)

# Convert 3
geometry = [Point(xy) for xy in zip(GT_data03.pickup_longitude, 
                                    GT_data03.pickup_latitude)]
GT_data03 = GeoDataFrame(GT_data03, crs=crs, geometry=geometry)
print(3)

# Convert 4
geometry = [Point(xy) for xy in zip(GT_data04.pickup_longitude, 
                                    GT_data04.pickup_latitude)]
GT_data04 = GeoDataFrame(GT_data04, crs=crs, geometry=geometry)
print(4)

# Convert 5
geometry = [Point(xy) for xy in zip(GT_data05.pickup_longitude, 
                                    GT_data05.pickup_latitude)]
GT_data05 = GeoDataFrame(GT_data05, crs=crs, geometry=geometry)
print(5)

# Convert 6
geometry = [Point(xy) for xy in zip(GT_data06.pickup_longitude, 
                                    GT_data06.pickup_latitude)]
GT_data06 = GeoDataFrame(GT_data06, crs=crs, geometry=geometry)
print(6)

# Convert 7
geometry = [Point(xy) for xy in zip(GT_data07.pickup_longitude, 
                                    GT_data07.pickup_latitude)]
GT_data07 = GeoDataFrame(GT_data07, crs=crs, geometry=geometry)
print(7)

# Convert 8
geometry = [Point(xy) for xy in zip(GT_data08.pickup_longitude, 
                                    GT_data08.pickup_latitude)]
GT_data08 = GeoDataFrame(GT_data08, crs=crs, geometry=geometry)
print(8)

# Convert 9
geometry = [Point(xy) for xy in zip(GT_data09.pickup_longitude, 
                                    GT_data09.pickup_latitude)]
GT_data09 = GeoDataFrame(GT_data09, crs=crs, geometry=geometry)
print(9)

# Convert 10
geometry = [Point(xy) for xy in zip(GT_data10.pickup_longitude, 
                                    GT_data10.pickup_latitude)]
GT_data10 = GeoDataFrame(GT_data10, crs=crs, geometry=geometry)
print(10)

# Convert 11
geometry = [Point(xy) for xy in zip(GT_data11.pickup_longitude, 
                                    GT_data11.pickup_latitude)]
GT_data11 = GeoDataFrame(GT_data11, crs=crs, geometry=geometry)
print(11)

# Convert 12
geometry = [Point(xy) for xy in zip(GT_data12.pickup_longitude, 
                                    GT_data12.pickup_latitude)]
GT_data12 = GeoDataFrame(GT_data12, crs=crs, geometry=geometry)
print(12)

1
2
3
4
5
6
7
8
9
10
11
12

In [92]:
# Drop Coords out of range 
#West -74.257159 East -73.699215
#North 40.915568 South 40.495992
# For 1
GT_data01 = GT_data01[~((GT_data01.pickup_longitude < -74.5) | (GT_data01.pickup_longitude > -73))]
GT_data01 = GT_data01[~((GT_data01.pickup_latitude < 40) | (GT_data01.pickup_latitude > 41))]

# For 2
GT_data02 = GT_data02[~((GT_data02.pickup_longitude < -74.5) | (GT_data02.pickup_longitude > -73))]
GT_data02 = GT_data02[~((GT_data02.pickup_latitude < 40) | (GT_data02.pickup_latitude > 41))]

# For 3
GT_data03 = GT_data03[~((GT_data03.pickup_longitude < -74.5) | (GT_data03.pickup_longitude > -73))]
GT_data03 = GT_data03[~((GT_data03.pickup_latitude < 40) | (GT_data03.pickup_latitude > 41))]

# For 4
GT_data04 = GT_data04[~((GT_data04.pickup_longitude < -74.5) | (GT_data04.pickup_longitude > -73))]
GT_data04 = GT_data04[~((GT_data04.pickup_latitude < 40) | (GT_data04.pickup_latitude > 41))]

# For 5
GT_data05 = GT_data05[~((GT_data05.pickup_longitude < -74.5) | (GT_data05.pickup_longitude > -73))]
GT_data05 = GT_data05[~((GT_data05.pickup_latitude < 40) | (GT_data05.pickup_latitude > 41))]

# For 6
GT_data06 = GT_data06[~((GT_data06.pickup_longitude < -74.5) | (GT_data06.pickup_longitude > -73))]
GT_data06 = GT_data06[~((GT_data06.pickup_latitude < 40) | (GT_data06.pickup_latitude > 41))]

# For 7
GT_data07 = GT_data07[~((GT_data07.pickup_longitude < -74.5) | (GT_data07.pickup_longitude > -73))]
GT_data07 = GT_data07[~((GT_data07.pickup_latitude < 40) | (GT_data07.pickup_latitude > 41))]

# For 8
GT_data08 = GT_data08[~((GT_data08.pickup_longitude < -74.5) | (GT_data08.pickup_longitude > -73))]
GT_data08 = GT_data08[~((GT_data08.pickup_latitude < 40) | (GT_data08.pickup_latitude > 41))]

# For 9
GT_data09 = GT_data09[~((GT_data09.pickup_longitude < -74.5) | (GT_data09.pickup_longitude > -73))]
GT_data09 = GT_data09[~((GT_data09.pickup_latitude < 40) | (GT_data09.pickup_latitude > 41))]

# For 10
GT_data10 = GT_data10[~((GT_data10.pickup_longitude < -74.5) | (GT_data10.pickup_longitude > -73))]
GT_data10 = GT_data10[~((GT_data10.pickup_latitude < 40) | (GT_data10.pickup_latitude > 41))]

# For 11
GT_data11 = GT_data11[~((GT_data11.pickup_longitude < -74.5) | (GT_data11.pickup_longitude > -73))]
GT_data11 = GT_data11[~((GT_data11.pickup_latitude < 40) | (GT_data11.pickup_latitude > 41))]

# For 12
GT_data12 = GT_data12[~((GT_data12.pickup_longitude < -74.5) | (GT_data12.pickup_longitude > -73))]
GT_data12 = GT_data12[~((GT_data12.pickup_latitude < 40) | (GT_data12.pickup_latitude > 41))]

In [ ]:
# COnvert Cooords for Spatial join
GT_data01 =  GT_data01.to_crs(epsg=2263)
print(1)
GT_data02 =  GT_data02.to_crs(epsg=2263)
print(2)
GT_data03 =  GT_data03.to_crs(epsg=2263)
print(3)
GT_data04 =  GT_data04.to_crs(epsg=2263)
print(4)
GT_data05 =  GT_data05.to_crs(epsg=2263)
print(5)
GT_data06 =  GT_data06.to_crs(epsg=2263)
print(6)
GT_data07 =  GT_data07.to_crs(epsg=2263)
print(7)
GT_data08 =  GT_data08.to_crs(epsg=2263)
print(8)
GT_data09 =  GT_data09.to_crs(epsg=2263)
print(9)
GT_data10 =  GT_data10.to_crs(epsg=2263)
print(10)
GT_data11 =  GT_data11.to_crs(epsg=2263)
print(11)
GT_data12 =  GT_data12.to_crs(epsg=2263)
print(12)

1
2
3
4
5
6
7
9
10
11

In [95]:
# Conduct Spatial Join to identify tazi zone of pickup
GT_data01 = gpd.sjoin(GT_data01, taxizones,op='within')
print(1)
GT_data02 = gpd.sjoin(GT_data02, taxizones,op='within')
print(2)
GT_data03 = gpd.sjoin(GT_data03, taxizones,op='within')
print(3)
GT_data04 = gpd.sjoin(GT_data04, taxizones,op='within')
print(4)
GT_data05 = gpd.sjoin(GT_data05, taxizones,op='within')
print(5)
GT_data06 = gpd.sjoin(GT_data06, taxizones,op='within')
print(6)
GT_data07 = gpd.sjoin(GT_data07, taxizones,op='within')
print(7)
GT_data08 = gpd.sjoin(GT_data08, taxizones,op='within')
print(8)
GT_data09 = gpd.sjoin(GT_data09, taxizones,op='within')
print(9)
GT_data10 = gpd.sjoin(GT_data10, taxizones,op='within')
print(10)
GT_data11 = gpd.sjoin(GT_data11, taxizones,op='within')
print(11)
GT_data12 = gpd.sjoin(GT_data12, taxizones,op='within')
print(12)

1
2
3
4
5
6
7
8
9
10
11
12

In [96]:
# Drop Columns
GT_data01 = GT_data01[['pickup_date','LocationID','zone','borough','Base']]
GT_data02 = GT_data02[['pickup_date','LocationID','zone','borough','Base']]
GT_data03 = GT_data03[['pickup_date','LocationID','zone','borough','Base']]
GT_data04 = GT_data04[['pickup_date','LocationID','zone','borough','Base']]
GT_data05 = GT_data05[['pickup_date','LocationID','zone','borough','Base']]
GT_data06 = GT_data06[['pickup_date','LocationID','zone','borough','Base']]
GT_data07 = GT_data07[['pickup_date','LocationID','zone','borough','Base']]
GT_data08 = GT_data08[['pickup_date','LocationID','zone','borough','Base']]
GT_data09 = GT_data09[['pickup_date','LocationID','zone','borough','Base']]
GT_data10 = GT_data10[['pickup_date','LocationID','zone','borough','Base']]
GT_data11 = GT_data11[['pickup_date','LocationID','zone','borough','Base']]
GT_data12 = GT_data12[['pickup_date','LocationID','zone','borough','Base']]

In [97]:
# Create Day and Hour Columns

# For 1
GT_data01.pickup_date = pd.to_datetime(GT_data01.pickup_date)
GT_data01['date'] = GT_data01.pickup_date.dt.date
GT_data01['hour'] = GT_data01.pickup_date.dt.hour

# For 2
GT_data02.pickup_date = pd.to_datetime(GT_data02.pickup_date)
GT_data02['date'] = GT_data02.pickup_date.dt.date
GT_data02['hour'] = GT_data02.pickup_date.dt.hour

# For 3
GT_data03.pickup_date = pd.to_datetime(GT_data03.pickup_date)
GT_data03['date'] = GT_data03.pickup_date.dt.date
GT_data03['hour'] = GT_data03.pickup_date.dt.hour

# For 4
GT_data04.pickup_date = pd.to_datetime(GT_data04.pickup_date)
GT_data04['date'] = GT_data04.pickup_date.dt.date
GT_data04['hour'] = GT_data04.pickup_date.dt.hour

# For 5
GT_data05.pickup_date = pd.to_datetime(GT_data05.pickup_date)
GT_data05['date'] = GT_data05.pickup_date.dt.date
GT_data05['hour'] = GT_data05.pickup_date.dt.hour

# For 6
GT_data06.pickup_date = pd.to_datetime(GT_data06.pickup_date)
GT_data06['date'] = GT_data06.pickup_date.dt.date
GT_data06['hour'] = GT_data06.pickup_date.dt.hour

# For 7
GT_data07.pickup_date = pd.to_datetime(GT_data07.pickup_date)
GT_data07['date'] = GT_data07.pickup_date.dt.date
GT_data07['hour'] = GT_data07.pickup_date.dt.hour

# For 8
GT_data08.pickup_date = pd.to_datetime(GT_data08.pickup_date)
GT_data08['date'] = GT_data08.pickup_date.dt.date
GT_data08['hour'] = GT_data08.pickup_date.dt.hour

# For 9
GT_data09.pickup_date = pd.to_datetime(GT_data09.pickup_date)
GT_data09['date'] = GT_data09.pickup_date.dt.date
GT_data09['hour'] = GT_data09.pickup_date.dt.hour

# For 10
GT_data10.pickup_date = pd.to_datetime(GT_data10.pickup_date)
GT_data10['date'] = GT_data10.pickup_date.dt.date
GT_data10['hour'] = GT_data10.pickup_date.dt.hour

# For 11
GT_data11.pickup_date = pd.to_datetime(GT_data11.pickup_date)
GT_data11['date'] = GT_data11.pickup_date.dt.date
GT_data11['hour'] = GT_data11.pickup_date.dt.hour

# For 12
GT_data12.pickup_date = pd.to_datetime(GT_data12.pickup_date)
GT_data12['date'] = GT_data12.pickup_date.dt.date
GT_data12['hour'] = GT_data12.pickup_date.dt.hour

In [99]:
# Create 12 month green taxi data set
GT_data_12mnth = pd.concat([GT_data01,GT_data02,GT_data03,
                            GT_data04,GT_data05,GT_data06,
                            GT_data07,GT_data08,GT_data09,
                            GT_data10,GT_data11,GT_data12]).reset_index()
# Drop index column
GT_data_12mnth.drop(['index'],axis=1,inplace=True)

###############################################################################

# Create 6 month green taxi data set
GT_data_6mnth = pd.concat([GT_data01,GT_data02,GT_data03,
                           GT_data04,GT_data05,GT_data06]).reset_index()
# Drop index column
GT_data_6mnth.drop(['index'],axis=1,inplace=True)

In [100]:
GT_data01.head()

,pickup_date,LocationID,zone,borough,Base,date,hour
457037,2015-01-10 12:00:24,1,Newark Airport,EWR,Green,2015-01-10,12
645859,2015-01-14 09:54:27,1,Newark Airport,EWR,Green,2015-01-14,9
347520,2015-01-08 12:01:02,1,Newark Airport,EWR,Green,2015-01-08,12
683458,2015-01-15 06:19:29,1,Newark Airport,EWR,Green,2015-01-15,6
452086,2015-01-10 10:44:40,1,Newark Airport,EWR,Green,2015-01-10,10

In [101]:
GT_data_12mnth.head()

,pickup_date,LocationID,zone,borough,Base,date,hour
0,2015-01-10 12:00:24,1,Newark Airport,EWR,Green,2015-01-10,12
1,2015-01-14 09:54:27,1,Newark Airport,EWR,Green,2015-01-14,9
2,2015-01-08 12:01:02,1,Newark Airport,EWR,Green,2015-01-08,12
3,2015-01-15 06:19:29,1,Newark Airport,EWR,Green,2015-01-15,6
4,2015-01-10 10:44:40,1,Newark Airport,EWR,Green,2015-01-10,10

In [102]:
GT_data_12mnth.shape

(19190940, 7)

In [103]:
GT_data_12mnth.to_csv('GreenTaxi_2015.csv')

### Taxi Base Data

In [104]:
# Read in Taxi Bases Lists
TLCbasesComm = pd.read_excel("http://www.nyc.gov/html/tlc/downloads/excel/current_community_car_service_bases.xls")
TLCbasesBlack = pd.read_excel("http://www.nyc.gov/html/tlc/downloads/excel/current_black_car_bases.xls")
TLCbasesLux = pd.read_excel("http://www.nyc.gov/html/tlc/downloads/excel/current_luxury_limousine_bases.xls")

# Merge Taxi Bases list and drop irrelevant columns

In [105]:
# Drop Unnecessary Columns and rename ones that are inccorectly labeled
TLCbasesComm = TLCbasesComm[['LICENSEE NUMBER', 'NAME OF LICENSEE', 'ALTERNATE NAME OF LICENSEE']]
TLCbasesBlack = TLCbasesBlack[['LICENSEE NUMBER', 'NAME OF LICENSEE', 'ALTERNATE NAME OF LICENSEE']]
TLCbasesLux = TLCbasesLux[['LICENSEE NUMBER', 'NAME OF LICENSEE', 'ALTERNATIVE NAME OF LICENSEE']]

TLCbasesLux = TLCbasesLux.rename(columns={"ALTERNATIVE NAME OF LICENSEE":'ALTERNATE NAME OF LICENSEE'})

# Merge Taxi Bases list and drop irrelevant columns
TLCbases = pd.concat([TLCbasesComm,TLCbasesBlack,TLCbasesLux]).reset_index()
TLCbases.drop(['index'],axis=1,inplace=True)

In [107]:
TLCbases.tail()

    LICENSEE NUMBER             NAME OF LICENSEE ALTERNATE NAME OF LICENSEE
862          B03031       ALLIANCE LIMOUSINE INC                        NaN
863          B03037  RIDE SOLUTION WORLDWIDE INC                        NaN
864          B03064      AP LUXURY LIMOUSINE INC                        NaN
865          B03074     BLACKBIRD WORLDWIDE CORP                        NaN
866          B03082    LLUMA TRANSPORTATION CORP                        NaN

In [ ]:
# Still need o add uber base number 'B02598'

In [111]:
# Create data point
tempdf = pd.DataFrame([['B02598',' ','uber' ]], columns=('LICENSEE NUMBER','NAME OF LICENSEE','ALTERNATE NAME OF LICENSEE'))
tempdf

  LICENSEE NUMBER NAME OF LICENSEE ALTERNATE NAME OF LICENSEE
0          B02598                                        uber

In [113]:
# Append onto dat TLC bases
TLCbases = TLCbases.append(tempdf)

### FHV data

In [114]:
#Read in FHV Data
fhv_data01 = pd.read_csv("Data/fhv_tripdata_2015-01.csv")
print(1)
fhv_data02 = pd.read_csv("Data/fhv_tripdata_2015-02.csv")
print(2)
fhv_data03 = pd.read_csv("Data/fhv_tripdata_2015-03.csv")
print(3)
fhv_data04 = pd.read_csv("Data/fhv_tripdata_2015-04.csv")
print(4)
fhv_data05 = pd.read_csv("Data/fhv_tripdata_2015-05.csv")
print(5)
fhv_data06 = pd.read_csv("Data/fhv_tripdata_2015-06.csv")
print(6)
fhv_data07 = pd.read_csv("Data/fhv_tripdata_2015-07.csv")
print(7)
fhv_data08 = pd.read_csv("Data/fhv_tripdata_2015-08.csv")
print(8)
fhv_data09 = pd.read_csv("Data/fhv_tripdata_2015-09.csv")
print(9)
fhv_data10 = pd.read_csv("Data/fhv_tripdata_2015-10.csv")
print(10)
fhv_data11 = pd.read_csv("Data/fhv_tripdata_2015-11.csv")
print(11)
fhv_data12 = pd.read_csv("Data/fhv_tripdata_2015-12.csv")
print(12)

1
2
3
4
5
6
7
8
9
10
11
12

In [115]:
# Merge with Taxi Base data set to determine actual bases
fhv_data01 = pd.merge(fhv_data01,TLCbases,left_on='Dispatching_base_num',right_on='LICENSEE NUMBER')
fhv_data02 = pd.merge(fhv_data02,TLCbases,left_on='Dispatching_base_num',right_on='LICENSEE NUMBER')
fhv_data03 = pd.merge(fhv_data03,TLCbases,left_on='Dispatching_base_num',right_on='LICENSEE NUMBER')
fhv_data04 = pd.merge(fhv_data04,TLCbases,left_on='Dispatching_base_num',right_on='LICENSEE NUMBER')
fhv_data05 = pd.merge(fhv_data05,TLCbases,left_on='Dispatching_base_num',right_on='LICENSEE NUMBER')
fhv_data06 = pd.merge(fhv_data06,TLCbases,left_on='Dispatching_base_num',right_on='LICENSEE NUMBER')
fhv_data07 = pd.merge(fhv_data07,TLCbases,left_on='Dispatching_base_num',right_on='LICENSEE NUMBER')
fhv_data08 = pd.merge(fhv_data08,TLCbases,left_on='Dispatching_base_num',right_on='LICENSEE NUMBER')
fhv_data09 = pd.merge(fhv_data09,TLCbases,left_on='Dispatching_base_num',right_on='LICENSEE NUMBER')
fhv_data10 = pd.merge(fhv_data10,TLCbases,left_on='Dispatching_base_num',right_on='LICENSEE NUMBER')
fhv_data11 = pd.merge(fhv_data11,TLCbases,left_on='Dispatching_base_num',right_on='LICENSEE NUMBER')
fhv_data12 = pd.merge(fhv_data12,TLCbases,left_on='Dispatching_base_num',right_on='LICENSEE NUMBER')

In [116]:
# Merge Location IDs to get Borough and anme of zone
fhv_data01 = pd.merge(fhv_data01,taxizones,left_on='locationID',right_on='LocationID')
fhv_data02 = pd.merge(fhv_data02,taxizones,left_on='locationID',right_on='LocationID')
fhv_data03 = pd.merge(fhv_data03,taxizones,left_on='locationID',right_on='LocationID')
fhv_data04 = pd.merge(fhv_data04,taxizones,left_on='locationID',right_on='LocationID')
fhv_data05 = pd.merge(fhv_data05,taxizones,left_on='locationID',right_on='LocationID')
fhv_data06 = pd.merge(fhv_data06,taxizones,left_on='locationID',right_on='LocationID')
fhv_data07 = pd.merge(fhv_data07,taxizones,left_on='locationID',right_on='LocationID')
fhv_data08 = pd.merge(fhv_data08,taxizones,left_on='locationID',right_on='LocationID')
fhv_data09 = pd.merge(fhv_data09,taxizones,left_on='locationID',right_on='LocationID')
fhv_data10 = pd.merge(fhv_data10,taxizones,left_on='locationID',right_on='LocationID')
fhv_data11 = pd.merge(fhv_data11,taxizones,left_on='locationID',right_on='LocationID')
fhv_data12 = pd.merge(fhv_data12,taxizones,left_on='locationID',right_on='LocationID')

In [117]:
# Drop irrelevant columns
fhv_data01 = fhv_data01[['Pickup_date','locationID','zone','borough','ALTERNATE NAME OF LICENSEE']]
fhv_data02 = fhv_data02[['Pickup_date','locationID','zone','borough','ALTERNATE NAME OF LICENSEE']]
fhv_data03 = fhv_data03[['Pickup_date','locationID','zone','borough','ALTERNATE NAME OF LICENSEE']]
fhv_data04 = fhv_data04[['Pickup_date','locationID','zone','borough','ALTERNATE NAME OF LICENSEE']]
fhv_data05 = fhv_data05[['Pickup_date','locationID','zone','borough','ALTERNATE NAME OF LICENSEE']]
fhv_data06 = fhv_data06[['Pickup_date','locationID','zone','borough','ALTERNATE NAME OF LICENSEE']]
fhv_data07 = fhv_data07[['Pickup_date','locationID','zone','borough','ALTERNATE NAME OF LICENSEE']]
fhv_data08 = fhv_data08[['Pickup_date','locationID','zone','borough','ALTERNATE NAME OF LICENSEE']]
fhv_data09 = fhv_data09[['Pickup_date','locationID','zone','borough','ALTERNATE NAME OF LICENSEE']]
fhv_data10 = fhv_data10[['Pickup_date','locationID','zone','borough','ALTERNATE NAME OF LICENSEE']]
fhv_data11 = fhv_data11[['Pickup_date','locationID','zone','borough','ALTERNATE NAME OF LICENSEE']]
fhv_data12 = fhv_data12[['Pickup_date','locationID','zone','borough','ALTERNATE NAME OF LICENSEE']]

In [118]:
# Rename columns for merging
fhv_data01.rename(columns={'Pickup_date':'pickup_date',
                           'locationID':'LocationID',
                           'ALTERNATE NAME OF LICENSEE':'Base'},
                  inplace=True)

fhv_data02.rename(columns={'Pickup_date':'pickup_date',
                           'locationID':'LocationID',
                           'ALTERNATE NAME OF LICENSEE':'Base'},
                  inplace=True)

fhv_data03.rename(columns={'Pickup_date':'pickup_date',
                           'locationID':'LocationID',
                           'ALTERNATE NAME OF LICENSEE':'Base'},
                  inplace=True)

fhv_data04.rename(columns={'Pickup_date':'pickup_date',
                           'locationID':'LocationID',
                           'ALTERNATE NAME OF LICENSEE':'Base'},
                  inplace=True)

fhv_data05.rename(columns={'Pickup_date':'pickup_date',
                           'locationID':'LocationID',
                           'ALTERNATE NAME OF LICENSEE':'Base'},
                  inplace=True)

fhv_data06.rename(columns={'Pickup_date':'pickup_date',
                           'locationID':'LocationID',
                           'ALTERNATE NAME OF LICENSEE':'Base'},
                  inplace=True)

fhv_data07.rename(columns={'Pickup_date':'pickup_date',
                           'locationID':'LocationID',
                           'ALTERNATE NAME OF LICENSEE':'Base'},
                  inplace=True)

fhv_data08.rename(columns={'Pickup_date':'pickup_date',
                           'locationID':'LocationID',
                           'ALTERNATE NAME OF LICENSEE':'Base'},
                  inplace=True)

fhv_data09.rename(columns={'Pickup_date':'pickup_date',
                           'locationID':'LocationID',
                           'ALTERNATE NAME OF LICENSEE':'Base'},
                  inplace=True)

fhv_data10.rename(columns={'Pickup_date':'pickup_date',
                           'locationID':'LocationID',
                           'ALTERNATE NAME OF LICENSEE':'Base'},
                  inplace=True)

fhv_data11.rename(columns={'Pickup_date':'pickup_date',
                           'locationID':'LocationID',
                           'ALTERNATE NAME OF LICENSEE':'Base'},
                  inplace=True)

fhv_data12.rename(columns={'Pickup_date':'pickup_date',
                           'locationID':'LocationID',
                           'ALTERNATE NAME OF LICENSEE':'Base'},
                  inplace=True)

In [119]:
# Create Day and Hour Columns

# For 1
fhv_data01.pickup_date = pd.to_datetime(fhv_data01.pickup_date)
fhv_data01['date'] = fhv_data01.pickup_date.dt.date
fhv_data01['hour'] = fhv_data01.pickup_date.dt.hour

# For 2
fhv_data02.pickup_date = pd.to_datetime(fhv_data02.pickup_date)
fhv_data02['date'] = fhv_data02.pickup_date.dt.date
fhv_data02['hour'] = fhv_data02.pickup_date.dt.hour

# For 3
fhv_data03.pickup_date = pd.to_datetime(fhv_data03.pickup_date)
fhv_data03['date'] = fhv_data03.pickup_date.dt.date
fhv_data03['hour'] = fhv_data03.pickup_date.dt.hour

# For 4
fhv_data04.pickup_date = pd.to_datetime(fhv_data04.pickup_date)
fhv_data04['date'] = fhv_data04.pickup_date.dt.date
fhv_data04['hour'] = fhv_data04.pickup_date.dt.hour

# For 5
fhv_data05.pickup_date = pd.to_datetime(fhv_data05.pickup_date)
fhv_data05['date'] = fhv_data05.pickup_date.dt.date
fhv_data05['hour'] = fhv_data05.pickup_date.dt.hour

# For 6
fhv_data06.pickup_date = pd.to_datetime(fhv_data06.pickup_date)
fhv_data06['date'] = fhv_data06.pickup_date.dt.date
fhv_data06['hour'] = fhv_data06.pickup_date.dt.hour

# For 7
fhv_data07.pickup_date = pd.to_datetime(fhv_data07.pickup_date)
fhv_data07['date'] = fhv_data07.pickup_date.dt.date
fhv_data07['hour'] = fhv_data07.pickup_date.dt.hour

# For 8
fhv_data08.pickup_date = pd.to_datetime(fhv_data08.pickup_date)
fhv_data08['date'] = fhv_data08.pickup_date.dt.date
fhv_data08['hour'] = fhv_data08.pickup_date.dt.hour

# For 9
fhv_data09.pickup_date = pd.to_datetime(fhv_data09.pickup_date)
fhv_data09['date'] = fhv_data09.pickup_date.dt.date
fhv_data09['hour'] = fhv_data09.pickup_date.dt.hour

# For 10
fhv_data10.pickup_date = pd.to_datetime(fhv_data10.pickup_date)
fhv_data10['date'] = fhv_data10.pickup_date.dt.date
fhv_data10['hour'] = fhv_data10.pickup_date.dt.hour

# For 11
fhv_data11.pickup_date = pd.to_datetime(fhv_data11.pickup_date)
fhv_data11['date'] = fhv_data11.pickup_date.dt.date
fhv_data11['hour'] = fhv_data11.pickup_date.dt.hour

# For 12
fhv_data12.pickup_date = pd.to_datetime(fhv_data12.pickup_date)
fhv_data12['date'] = fhv_data12.pickup_date.dt.date
fhv_data12['hour'] = fhv_data12.pickup_date.dt.hour

In [120]:
fhv_data12.head()

,pickup_date,LocationID,zone,borough,Base,date,hour
0,2015-12-01 00:02:00,83.0,Elmhurst/Maspeth,Queens,CAPITAL CAR SERVICE,2015-12-01,0
1,2015-12-01 01:13:00,83.0,Elmhurst/Maspeth,Queens,CAPITAL CAR SERVICE,2015-12-01,1
2,2015-12-01 07:43:00,83.0,Elmhurst/Maspeth,Queens,CAPITAL CAR SERVICE,2015-12-01,7
3,2015-12-01 11:20:00,83.0,Elmhurst/Maspeth,Queens,CAPITAL CAR SERVICE,2015-12-01,11
4,2015-12-01 11:44:00,83.0,Elmhurst/Maspeth,Queens,CAPITAL CAR SERVICE,2015-12-01,11

In [121]:
# Create 12 month fhv taxi data set
fhv_data_12mnth = pd.concat([fhv_data01,fhv_data02,fhv_data03,
                             fhv_data04,fhv_data05,fhv_data06,
                             fhv_data07,fhv_data08,fhv_data09,
                             fhv_data10,fhv_data11,fhv_data12]).reset_index()
# Drop index column
fhv_data_12mnth.drop(['index'],axis=1,inplace=True)

###############################################################################

# Create 6 month fhv taxi data set
fhv_data_6mnth = pd.concat([fhv_data01,fhv_data02,fhv_data03,
                            fhv_data04,fhv_data05,fhv_data06]).reset_index()
# Drop index column
fhv_data_6mnth.drop(['index'],axis=1,inplace=True)

In [122]:
fhv_data_12mnth.head()

          pickup_date  LocationID       zone    borough Base        date  hour
0 2015-01-01 01:05:00        45.0  Chinatown  Manhattan  NaN  2015-01-01     1
1 2015-01-06 07:15:00        45.0  Chinatown  Manhattan  NaN  2015-01-06     7
2 2015-01-06 23:45:00        45.0  Chinatown  Manhattan  NaN  2015-01-06    23
3 2015-01-15 23:45:00        45.0  Chinatown  Manhattan  NaN  2015-01-15    23
4 2015-01-29 23:45:00        45.0  Chinatown  Manhattan  NaN  2015-01-29    23

In [124]:
fhv_data_12mnth.shape

(45070796, 7)

In [123]:
fhv_data_12mnth.to_csv('FHVTaxi_2015.csv')

# Merge all taxi data

In [125]:
# Merge data sets
taxi_01 = pd.concat([YT_data01,GT_data01,fhv_data01]).reset_index()
taxi_6mnth = pd.concat([YT_data_6mnth,GT_data_6mnth,fhv_data_6mnth]).reset_index()
taxi_12mnth = pd.concat([YT_data_12mnth,GT_data_12mnth,fhv_data_12mnth]).reset_index()

In [129]:
# Save Data
taxi_01.to_csv('Taxi_201501.csv')
#taxi_6mnth.to_csv('Taxi_201501-201506.csv')
taxi_12mnth.to_csv('Taxi_2015.csv')

# Introduce Weather Data and merge with data sets

In [136]:
# Read in data
weather_data = pd.read_csv("Data/1106040.csv")

In [137]:
weather_data.head()

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,REPORTTPYE,HOURLYSKYCONDITIONS,HOURLYVISIBILITY,HOURLYPRSENTWEATHERTYPE,...,MonthlyMaxSeaLevelPressureTime,MonthlyMinSeaLevelPressureValue,MonthlyMinSeaLevelPressureDate,MonthlyMinSeaLevelPressureTime,MonthlyTotalHeatingDegreeDays,MonthlyTotalCoolingDegreeDays,MonthlyDeptFromNormalHeatingDD,MonthlyDeptFromNormalCoolingDD,MonthlyTotalSeasonToDateHeatingDD,MonthlyTotalSeasonToDateCoolingDD
0,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,-73.96925,4/1/2014 0:51,FM-15,CLR:00,10,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN
1,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,-73.96925,4/1/2014 1:51,FM-15,CLR:00,10,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN
2,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,-73.96925,4/1/2014 2:51,FM-15,CLR:00,10,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN
3,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,-73.96925,4/1/2014 3:51,FM-15,CLR:00,10,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN
4,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,-73.96925,4/1/2014 4:51,FM-15,CLR:00,10,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN

In [138]:
weather_data.columns

Index([u'STATION', u'STATION_NAME', u'ELEVATION', u'LATITUDE', u'LONGITUDE',
       u'DATE', u'REPORTTPYE', u'HOURLYSKYCONDITIONS', u'HOURLYVISIBILITY',
       u'HOURLYPRSENTWEATHERTYPE', u'HOURLYDRYBULBTEMPF',
       u'HOURLYDRYBULBTEMPC', u'HOURLYWETBULBTEMPF', u'HOURLYWETBULBTEMPC',
       u'HOURLYDewPointTempF', u'HOURLYDewPointTempC',
       u'HOURLYRelativeHumidity', u'HOURLYWindSpeed', u'HOURLYWindDirection',
       u'HOURLYWindGustSpeed', u'HOURLYStationPressure',
       u'HOURLYPressureTendency', u'HOURLYPressureChange',
       u'HOURLYSeaLevelPressure', u'HOURLYPrecip', u'HOURLYAltimeterSetting',
       u'DAILYMaximumDryBulbTemp', u'DAILYMinimumDryBulbTemp',
       u'DAILYAverageDryBulbTemp', u'DAILYDeptFromNormalAverageTemp',
       u'DAILYAverageRelativeHumidity', u'DAILYAverageDewPointTemp',
       u'DAILYAverageWetBulbTemp', u'DAILYHeatingDegreeDays',
       u'DAILYCoolingDegreeDays', u'DAILYSunrise', u'DAILYSunset',
       u'DAILYWeather', u'DAILYPrecip', u'DAILYSnowfall', u'DAILYSnowDepth',
       u'DAILYAverageStationPressure', u'DAILYAverageSeaLevelPressure',
       u'DAILYAverageWindSpeed', u'DAILYPeakWindSpeed', u'PeakWindDirection',
       u'DAILYSustainedWindSpeed', u'DAILYSustainedWindDirection',
       u'MonthlyMaximumTemp', u'MonthlyMinimumTemp', u'MonthlyMeanTemp',
       u'MonthlyAverageRH', u'MonthlyDewpointTemp', u'MonthlyWetBulbTemp',
       u'MonthlyAvgHeatingDegreeDays', u'MonthlyAvgCoolingDegreeDays',
       u'MonthlyStationPressure', u'MonthlySeaLevelPressure',
       u'MonthlyAverageWindSpeed', u'MonthlyTotalSnowfall',
       u'MonthlyDeptFromNormalMaximumTemp',
       u'MonthlyDeptFromNormalMinimumTemp',
       u'MonthlyDeptFromNormalAverageTemp', u'MonthlyDeptFromNormalPrecip',
       u'MonthlyTotalLiquidPrecip', u'MonthlyGreatestPrecip',
       u'MonthlyGreatestPrecipDate', u'MonthlyGreatestSnowfall',
       u'MonthlyGreatestSnowfallDate', u'MonthlyGreatestSnowDepth',
       u'MonthlyGreatestSnowDepthDate', u'MonthlyDaysWithGT90Temp',
       u'MonthlyDaysWithLT32Temp', u'MonthlyDaysWithGT32Temp',
       u'MonthlyDaysWithLT0Temp', u'MonthlyDaysWithGT001Precip',
       u'MonthlyDaysWithGT010Precip', u'MonthlyDaysWithGT1Snow',
       u'MonthlyMaxSeaLevelPressureValue', u'MonthlyMaxSeaLevelPressureDate',
       u'MonthlyMaxSeaLevelPressureTime', u'MonthlyMinSeaLevelPressureValue',
       u'MonthlyMinSeaLevelPressureDate', u'MonthlyMinSeaLevelPressureTime',
       u'MonthlyTotalHeatingDegreeDays', u'MonthlyTotalCoolingDegreeDays',
       u'MonthlyDeptFromNormalHeatingDD', u'MonthlyDeptFromNormalCoolingDD',
       u'MonthlyTotalSeasonToDateHeatingDD',
       u'MonthlyTotalSeasonToDateCoolingDD'],
      dtype='object')

In [139]:
###############################################################################
# Remove irrelevant columns
weather_data.drop(['STATION','STATION_NAME','ELEVATION','LATITUDE','LONGITUDE',
                   'REPORTTPYE','HOURLYPRSENTWEATHERTYPE',
                   'HOURLYDRYBULBTEMPC','HOURLYWETBULBTEMPC',
                   'HOURLYDewPointTempF','HOURLYDewPointTempC',
                   'HOURLYRelativeHumidity','HOURLYWindDirection',
                   'HOURLYStationPressure','HOURLYPressureTendency',
                   'HOURLYPressureChange','HOURLYSeaLevelPressure',
                   'HOURLYAltimeterSetting','DAILYMaximumDryBulbTemp',
                   'DAILYMinimumDryBulbTemp','DAILYAverageDryBulbTemp',
                   'DAILYDeptFromNormalAverageTemp',
                   'DAILYAverageRelativeHumidity',
                   'DAILYAverageDewPointTemp','DAILYAverageWetBulbTemp',
                   'DAILYHeatingDegreeDays','DAILYCoolingDegreeDays',
                   'DAILYSunrise','DAILYSunset','DAILYWeather',
                   'DAILYPrecip','DAILYAverageStationPressure',
                   'DAILYAverageSeaLevelPressure','DAILYAverageWindSpeed',
                   'DAILYPeakWindSpeed','PeakWindDirection',
                   'DAILYSustainedWindSpeed','DAILYSustainedWindDirection',
                   'MonthlyMaximumTemp','MonthlyMinimumTemp','MonthlyMeanTemp',
                   'MonthlyAverageRH', 'MonthlyDewpointTemp',
                   'MonthlyWetBulbTemp','MonthlyAvgHeatingDegreeDays',
                   'MonthlyAvgCoolingDegreeDays','MonthlyStationPressure',
                   'MonthlySeaLevelPressure','MonthlyAverageWindSpeed',
                   'MonthlyTotalSnowfall','MonthlyDeptFromNormalMaximumTemp',
                   'MonthlyDeptFromNormalMinimumTemp',
                   'MonthlyDeptFromNormalAverageTemp',
                   'MonthlyDeptFromNormalPrecip','MonthlyTotalLiquidPrecip',
                   'MonthlyGreatestPrecip','MonthlyGreatestPrecipDate',
                   'MonthlyGreatestSnowfall','MonthlyGreatestSnowfallDate',
                   'MonthlyGreatestSnowDepth','MonthlyGreatestSnowDepthDate',
                   'MonthlyDaysWithGT90Temp','MonthlyDaysWithLT32Temp',
                   'MonthlyDaysWithGT32Temp','MonthlyDaysWithLT0Temp',
                   'MonthlyDaysWithGT001Precip','MonthlyDaysWithGT010Precip',
                   'MonthlyDaysWithGT1Snow','MonthlyMaxSeaLevelPressureValue',
                   'MonthlyMaxSeaLevelPressureDate',
                   'MonthlyMaxSeaLevelPressureTime',
                   'MonthlyMinSeaLevelPressureValue',
                   'MonthlyMinSeaLevelPressureDate',
                   'MonthlyMinSeaLevelPressureTime',
                   'MonthlyTotalHeatingDegreeDays',
                   'MonthlyTotalCoolingDegreeDays',
                   'MonthlyDeptFromNormalHeatingDD',
                   'MonthlyDeptFromNormalCoolingDD',
                   'MonthlyTotalSeasonToDateHeatingDD',
                   'MonthlyTotalSeasonToDateCoolingDD'],axis=1,inplace=True)

In [140]:
weather_data.head()

,DATE,HOURLYSKYCONDITIONS,HOURLYVISIBILITY,HOURLYDRYBULBTEMPF,HOURLYWETBULBTEMPF,HOURLYWindSpeed,HOURLYWindGustSpeed,HOURLYPrecip,DAILYSnowfall,DAILYSnowDepth
0,4/1/2014 0:51,CLR:00,10,41.0,35.0,6.0,NaN,0,NaN,NaN
1,4/1/2014 1:51,CLR:00,10,41.0,35.0,9.0,NaN,0,NaN,NaN
2,4/1/2014 2:51,CLR:00,10,40.0,34.0,9.0,NaN,0,NaN,NaN
3,4/1/2014 3:51,CLR:00,10,40.0,34.0,8.0,16.0,0,NaN,NaN
4,4/1/2014 4:51,CLR:00,10,39.0,34.0,3.0,NaN,0,NaN,NaN

In [141]:
weather_data.dtypes

DATE                    object
HOURLYSKYCONDITIONS     object
HOURLYVISIBILITY        object
HOURLYDRYBULBTEMPF     float64
HOURLYWETBULBTEMPF     float64
HOURLYWindSpeed        float64
HOURLYWindGustSpeed    float64
HOURLYPrecip            object
DAILYSnowfall           object
DAILYSnowDepth          object
dtype: object

In [142]:
# Convert date into datetime for merging
weather_data.DATE = pd.to_datetime(weather_data.DATE)
weather_data['date'] = weather_data.DATE.dt.date
weather_data['hour'] = weather_data.DATE.dt.hour

In [157]:
weather_data.HOURLYPrecip.unique()

array([ 0.  ,  0.01,  0.04,  0.02,   nan,  0.1 ,  0.08,  0.03,  0.07,
        0.11,  0.06,  0.05,  0.15,  0.16,  0.09,  0.12,  0.13,  0.17,
        0.24,  0.3 ,  0.18,  0.2 ,  0.25,  0.23,  0.22,  0.14,  0.28,
        0.19,  0.27,  0.34,  0.35,  0.41,  0.26,  0.44,  0.56,  0.32,
        0.53,  0.33,  0.21,  1.  ,  0.42,  0.43,  0.4 ,  0.46,  0.37,
        0.36,  0.48,  0.69,  1.03,  0.39,  0.38,  0.59,  0.91,  0.5 ,
        0.31,  0.78,  0.52,  0.51,  0.29,  0.97])

In [156]:
# Some data cleaning
weather_data.dropna(subset=['HOURLYDRYBULBTEMPF'],inplace=True)
weather_data.HOURLYPrecip = weather_data.HOURLYPrecip.replace("T",0)
weather_data.HOURLYPrecip = weather_data.HOURLYPrecip.replace("s",' ', regex=True)
weather_data.HOURLYPrecip = weather_data.HOURLYPrecip.astype(float)

In [158]:
# Merge with data sets for 1 month
taxi_01weather = taxi_01.merge(weather_data,on=['date','hour'])

In [159]:
# Merge with data sets for year
taxi_12mnthweather = taxi_12mnth.merge(weather_data,on=['date','hour'])

In [160]:
# Drop irellevant columns
taxi_01weather.drop(['index','DATE'],axis=1,inplace=True)
taxi_12mnthweather.drop(['index','DATE'],axis=1,inplace=True)

In [161]:
taxi_12mnthweather.head()

,pickup_date,LocationID,zone,borough,Base,date,hour,HOURLYSKYCONDITIONS,HOURLYVISIBILITY,HOURLYDRYBULBTEMPF,HOURLYWETBULBTEMPF,HOURLYWindSpeed,HOURLYWindGustSpeed,HOURLYPrecip,DAILYSnowfall,DAILYSnowDepth
0,2015-01-15 19:05:39,186.0,Penn Station/Madison Sq West,Manhattan,Yellow,2015-01-15,19,CLR:00,10,33.0,27.0,9.0,20.0,0.0,NaN,NaN
1,2015-01-15 19:05:42,186.0,Penn Station/Madison Sq West,Manhattan,Yellow,2015-01-15,19,CLR:00,10,33.0,27.0,9.0,20.0,0.0,NaN,NaN
2,2015-01-15 19:13:05,186.0,Penn Station/Madison Sq West,Manhattan,Yellow,2015-01-15,19,CLR:00,10,33.0,27.0,9.0,20.0,0.0,NaN,NaN
3,2015-01-15 19:27:12,186.0,Penn Station/Madison Sq West,Manhattan,Yellow,2015-01-15,19,CLR:00,10,33.0,27.0,9.0,20.0,0.0,NaN,NaN
4,2015-01-15 19:19:13,186.0,Penn Station/Madison Sq West,Manhattan,Yellow,2015-01-15,19,CLR:00,10,33.0,27.0,9.0,20.0,0.0,NaN,NaN

# Create Grouped data set

In [162]:
# 1 month data group
taxi_01group = taxi_01weather.groupby(('date','hour','LocationID'))['pickup_date'].count().reset_index()
taxi_01group.rename(columns={'pickup_date':'COUNTS'},inplace=True)
taxi_01group.head()

         date  hour  LocationID  COUNTS
0  2015-01-01     0         3.0       5
1  2015-01-01     0         4.0     237
2  2015-01-01     0         7.0     501
3  2015-01-01     0         8.0       1
4  2015-01-01     0         9.0       3

In [163]:
# 12 month data group
taxi_12mnthgroup = taxi_12mnthweather.groupby(('date','hour','LocationID'))['pickup_date'].count().reset_index()
taxi_12mnthgroup.rename(columns={'pickup_date':'COUNTS'},inplace=True)
taxi_12mnthgroup.head()

         date  hour  LocationID  COUNTS
0  2015-01-01     0         3.0       5
1  2015-01-01     0         4.0     237
2  2015-01-01     0         7.0     501
3  2015-01-01     0         8.0       1
4  2015-01-01     0         9.0       3

# Output data sets

In [ ]:
# Save Data
taxi_01weather.to_csv('Taxi_201501_.csv')
#taxi_6mnth.to_csv('Taxi_201501-201506.csv')
taxi_12mnthweather.to_csv('Taxi_2015_.csv')

In [165]:
# Save Group Data
taxi_01group.to_csv('Taxi_201501_grouped.csv')
taxi_12mnthgroup.to_csv('Taxi_2015_grouped.csv')