In [1]:
import numpy as np
import pandas as pd
import pylab as pl
import os
import geopandas as gpd
from fiona.crs import from_epsg
from geopandas import GeoDataFrame
from shapely.geometry import Point

from functools import partial
import pyproj
from shapely.ops import transform


import matplotlib.pylab as plt
from scipy import stats
import statsmodels.formula.api as smf
import statsmodels.api as sm

from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics 
from sklearn.metrics import classification_report

import sklearn
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
import random

from matplotlib.pylab import plt
%matplotlib inline

In [2]:
jan15_YT = pd.read_csv("https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-01.csv")
jan15_GT = pd.read_csv("https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2015-01.csv")
jan15_FHV = pd.read_csv("https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-01.csv")

In [3]:
jan15_GT

                                  VendorID lpep_pickup_datetime  \
2 2015-01-01 00:34:42  2015-01-01 00:38:34                    N
  2015-01-01 00:34:46  2015-01-01 00:47:23                    N
1 2015-01-01 00:34:44  2015-01-01 00:38:15                    N
2 2015-01-01 00:34:48  2015-01-01 00:38:08                    N
  2015-01-01 00:34:53  2015-01-01 01:09:10                    N
1 2015-01-01 00:34:55  2015-01-01 00:40:58                    N
  2015-01-01 00:34:49  2015-01-01 00:53:10                    N
2 2015-01-01 00:35:03  2015-01-01 00:35:08                    N
  2015-01-01 00:35:13  2015-01-01 00:41:04                    N
  2015-01-01 00:35:09  2015-01-01 00:42:39                    N
  2015-01-01 00:34:56  2015-01-01 00:44:39                    N
  2015-01-01 00:34:59  2015-01-01 00:56:16                    N
  2015-01-01 00:35:07  2015-01-01 00:57:02                    N
  2015-01-01 00:35:01  2015-01-01 01:00:07                    N
1 2015-01-01 00:35:12  2015-01-01 00:41:58                    N
2 2015-01-01 00:35:14  2015-01-01 00:37:25                    N
  2015-01-01 00:35:29  2015-01-01 00:38:35                    N
  2015-01-01 00:35:33  2015-01-01 00:39:43                    N
  2015-01-01 00:35:13  2015-01-01 00:43:40                    N
  2015-01-01 00:35:23  2015-01-01 00:43:46                    N
  2015-01-01 00:35:26  2015-01-01 00:42:53                    N
  2015-01-01 00:35:40  2015-01-01 00:44:40                    N
  2015-01-01 00:35:35  2015-01-01 00:52:25                    N
  2015-01-01 00:35:36  2015-01-01 00:52:35                    N
  2015-01-01 00:35:41  2015-01-01 00:55:58                    N
  2015-01-01 00:35:43  2015-01-01 00:56:12                    N
  2015-01-01 00:35:25  2015-01-01 00:58:06                    N
  2015-01-01 00:35:44  2015-01-01 01:13:41                    N
1 2015-01-01 00:35:38  2015-01-01 00:41:46                    N
  2015-01-01 00:35:21  2015-01-01 01:00:24                    N
...                                    ...                  ...
  2015-01-31 23:00:49  2015-01-31 23:11:29                    N
  2015-01-31 23:01:04  2015-01-31 23:10:17                    N
  2015-01-31 23:00:43  2015-01-31 23:30:00                    N
  2015-01-31 23:00:34  2015-01-31 23:03:54                    N
  2015-01-31 23:00:40  2015-01-31 23:18:45                    N
  2015-01-31 23:00:26  2015-01-31 23:08:23                    N
  2015-01-31 23:00:12  2015-01-31 23:06:00                    N
  2015-01-31 23:01:17  2015-01-31 23:14:37                    N
  2015-01-31 23:03:53  2015-01-31 23:21:56                    N
  2015-01-31 23:03:10  2015-01-31 23:15:46                    N
  2015-01-31 23:02:51  2015-01-31 23:25:02                    N
  2015-01-31 23:02:40  2015-01-31 23:07:32                    N
  2015-01-31 23:02:22  2015-01-31 23:12:24                    N
  2015-01-31 23:02:14  2015-01-31 23:10:28                    N
  2015-01-31 23:02:28  2015-01-31 23:07:06                    N
  2015-01-31 23:02:31  2015-01-31 23:24:53                    N
  2015-01-31 23:01:57  2015-01-31 23:09:23                    N
  2015-01-31 23:01:53  2015-01-31 23:22:37                    N
  2015-01-31 23:02:17  2015-01-31 23:12:27                    N
  2015-01-31 23:01:42  2015-01-31 23:14:08                    N
  2015-01-31 23:01:10  2015-01-31 23:09:21                    N
  2015-01-31 23:01:15  2015-01-31 23:04:04                    N
  2015-01-31 23:00:47  2015-01-31 23:04:45                    N
  2015-01-31 23:00:23  2015-01-31 23:10:38                    N
  2015-01-31 23:00:18  2015-01-31 23:17:41                    N
  2015-01-31 23:00:33  2015-01-31 23:10:15                    N
  2015-01-31 23:00:09  2015-01-31 23:09:56                    N
  2015-01-31 23:00:01  2015-01-31 23:29:48                    N
  2015-01-31 23:04:52  2015-01-31 23:29:32                    N
  2015-01-31 23:00:30  2015-01-31 23:04:57                    N

                       Lpep_dropoff_datetime  Store_and_fwd_flag  RateCodeID  \
2 2015-01-01 00:34:42                      1          -73.922592   40.754528
  2015-01-01 00:34:46                      1          -73.952751   40.677711
1 2015-01-01 00:34:44                      1          -73.843010   40.719055
2 2015-01-01 00:34:48                      1          -73.860825   40.757793
  2015-01-01 00:34:53                      1          -73.945183   40.783321
1 2015-01-01 00:34:55                      1          -73.966812   40.714676
  2015-01-01 00:34:49                      1          -73.930489   40.850132
2 2015-01-01 00:35:03                      5          -73.863899   40.895439
  2015-01-01 00:35:13                      1          -73.917130   40.764889
  2015-01-01 00:35:09                      1          -73.921402   40.766666
  2015-01-01 00:34:56                      1          -73.912689   40.722507
  2015-01-01 00:34:59                      1          -73.918152   40.698833
  2015-01-01 00:35:07                      1          -73.992340   40.697361
  2015-01-01 00:35:01                      1          -73.950569   40.790771
1 2015-01-01 00:35:12                      1          -73.899055   40.749989
2 2015-01-01 00:35:14                      1          -73.981522   40.576633
  2015-01-01 00:35:29                      1          -73.910828   40.768795
  2015-01-01 00:35:33                      1          -73.942108   40.754223
  2015-01-01 00:35:13                      1          -73.991592   40.685078
  2015-01-01 00:35:23                      1          -73.890785   40.746498
  2015-01-01 00:35:26                      1          -73.879166   40.752659
  2015-01-01 00:35:40                      1          -73.935745   40.753407
  2015-01-01 00:35:35                      1          -73.902443   40.860577
  2015-01-01 00:35:36                      1          -73.939255   40.816402
  2015-01-01 00:35:41                      1          -73.948174   40.744877
  2015-01-01 00:35:43                      1          -73.951874   40.804604
  2015-01-01 00:35:25                      1          -74.004471   40.656212
  2015-01-01 00:35:44                      1          -73.938484   40.847672
1 2015-01-01 00:35:38                      1          -73.949242   40.695423
  2015-01-01 00:35:21                      1          -73.947266   40.745213
...                                      ...                 ...         ...
  2015-01-31 23:00:49                      1          -73.867821   40.744061
  2015-01-31 23:01:04                      1          -73.984550   40.675133
  2015-01-31 23:00:43                      1          -73.988029   40.688213
  2015-01-31 23:00:34                      1          -73.945381   40.711548
  2015-01-31 23:00:40                      1          -73.956863   40.729973
  2015-01-31 23:00:26                      1          -73.877220   40.828819
  2015-01-31 23:00:12                      1          -73.922768   40.755497
  2015-01-31 23:01:17                      1          -73.979652   40.660145
  2015-01-31 23:03:53                      1          -74.000061   40.687401
  2015-01-31 23:03:10                      1          -73.927505   40.752640
  2015-01-31 23:02:51                      1          -73.992043   40.665661
  2015-01-31 23:02:40                      1          -73.956551   40.713154
  2015-01-31 23:02:22                      1          -73.945129   40.808147
  2015-01-31 23:02:14                      1          -73.992355   40.689568
  2015-01-31 23:02:28                      1          -73.951225   40.712032
  2015-01-31 23:02:31                      1          -73.923393   40.816875
  2015-01-31 23:01:57                      1          -73.945679   40.807823
  2015-01-31 23:01:53                      1          -73.956985   40.720295
  2015-01-31 23:02:17                      1          -73.955254   40.670017
  2015-01-31 23:01:42                      1          -73.974678   40.680897
  2015-01-31 23:01:10                      1          -73.986153   40.669380
  2015-01-31 23:01:15                      1          -73.946892   40.745407
  2015-01-31 23:00:47                      1          -73.953873   40.806458
  2015-01-31 23:00:23                      1          -73.939056   40.805252
  2015-01-31 23:00:18                      1          -73.918808   40.770325
  2015-01-31 23:00:33                      1          -73.997559   40.691139
  2015-01-31 23:00:09                      1          -73.890846   40.746918
  2015-01-31 23:00:01                      1          -73.956848   40.722839
  2015-01-31 23:04:52                      1          -73.981323   40.675045
  2015-01-31 23:00:30                      1          -73.985794   40.685673

                       Pickup_longitude  Pickup_latitude  Dropoff_longitude  \
2 2015-01-01 00:34:42        -73.913635        40.765522                  1
  2015-01-01 00:34:46        -73.981529        40.658978                  1
1 2015-01-01 00:34:44        -73.846581        40.711567                  1
2 2015-01-01 00:34:48        -73.854042        40.749821                  1
  2015-01-01 00:34:53        -73.989624        40.765450                  1
1 2015-01-01 00:34:55        -73.949409        40.718437                  4
  2015-01-01 00:34:49        -73.978058        40.789059                  1
2 2015-01-01 00:35:03        -73.861877        40.894779                  1
  2015-01-01 00:35:13        -73.927979        40.761471                  5
  2015-01-01 00:35:09        -73.906479        40.778728                  2
  2015-01-01 00:34:56        -73.909195        40.705139                  1
  2015-01-01 00:34:59        -73.955116        40.734932                  1
  2015-01-01 00:35:07        -73.821365        40.779621                  1
  2015-01-01 00:35:01        -73.999527        40.740314                  1
1 2015-01-01 00:35:12        -73.924286        40.761547                  2
2 2015-01-01 00:35:14        -73.976517        40.577572                  1
  2015-01-01 00:35:29        -73.914284        40.764755                  1
  2015-01-01 00:35:33        -73.930885        40.771317                  1
  2015-01-01 00:35:13        -73.980835        40.667877                  6
  2015-01-01 00:35:23        -73.889748        40.764072                  1
  2015-01-01 00:35:26        -73.897156        40.757961                  1
  2015-01-01 00:35:40        -73.924408        40.761547                  2
  2015-01-01 00:35:35        -73.944557        40.809151                  1
  2015-01-01 00:35:36        -73.952988        40.778408                  1
  2015-01-01 00:35:41        -74.004982        40.650322                  1
  2015-01-01 00:35:43        -73.995628        40.764347                  6
  2015-01-01 00:35:25        -73.994308        40.740711                  1
  2015-01-01 00:35:44        -73.951767        40.711731                  1
1 2015-01-01 00:35:38        -73.962120        40.713215                  1
  2015-01-01 00:35:21        -73.955177        40.657524                  3
...                                 ...              ...                ...
  2015-01-31 23:00:49        -73.885170        40.755497                  1
  2015-01-31 23:01:04        -73.989899        40.685711                  2
  2015-01-31 23:00:43        -73.924858        40.762753                  2
  2015-01-31 23:00:34        -73.950737        40.716404                  1
  2015-01-31 23:00:40        -73.963875        40.709515                  1
  2015-01-31 23:00:26        -73.855537        40.835655                  5
  2015-01-31 23:00:12        -73.923225        40.743484                  2
  2015-01-31 23:01:17        -73.978020        40.679878                  2
  2015-01-31 23:03:53        -73.993965        40.732124                  1
  2015-01-31 23:03:10        -73.879471        40.754536                  1
  2015-01-31 23:02:51        -73.946571        40.682247                  1
  2015-01-31 23:02:40        -73.963371        40.719418                  1
  2015-01-31 23:02:22        -73.957413        40.821690                  1
  2015-01-31 23:02:14        -73.992180        40.673740                  3
  2015-01-31 23:02:28        -73.947952        40.716175                  4
  2015-01-31 23:02:31        -73.902458        40.868801                  1
  2015-01-31 23:01:57        -73.968224        40.791836                  1
  2015-01-31 23:01:53        -73.952461        40.768627                  1
  2015-01-31 23:02:17        -73.935837        40.686428                  1
  2015-01-31 23:01:42        -73.952126        40.689831                  1
  2015-01-31 23:01:10        -74.001610        40.684143                  1
  2015-01-31 23:01:15        -73.955269        40.736538                  1
  2015-01-31 23:00:47        -73.964989        40.800991                  1
  2015-01-31 23:00:23        -73.947769        40.777805                  1
  2015-01-31 23:00:18        -73.960121        40.776104                  1
  2015-01-31 23:00:33        -73.940086        40.723503                  1
  2015-01-31 23:00:09        -73.862122        40.739246                  2
  2015-01-31 23:00:01        -74.004005        40.721066                  1
  2015-01-31 23:04:52        -73.992836        40.724155                  4
  2015-01-31 23:00:30        -73.994278        40.680901                  2

                       Dropoff_latitude  Passenger_count     ...      \
2 2015-01-01 00:34:42              0.88              5.0     ...
  2015-01-01 00:34:46              3.08             12.0     ...
1 2015-01-01 00:34:44              0.90              5.0     ...
2 2015-01-01 00:34:48              0.85              5.0     ...
  2015-01-01 00:34:53              4.91             24.5     ...
1 2015-01-01 00:34:55              1.20              6.5     ...
  2015-01-01 00:34:49              6.60             22.0     ...
2 2015-01-01 00:35:03              0.13             15.0     ...
  2015-01-01 00:35:13              1.18              6.5     ...
  2015-01-01 00:35:09              1.12              7.0     ...
  2015-01-01 00:34:56              1.59              8.0     ...
  2015-01-01 00:34:59              3.89             16.5     ...
  2015-01-01 00:35:07             14.01             39.0     ...
  2015-01-01 00:35:01              6.74             24.0     ...
1 2015-01-01 00:35:12              1.60              7.5     ...
2 2015-01-01 00:35:14              0.58              4.0     ...
  2015-01-01 00:35:29              0.52              4.0     ...
  2015-01-01 00:35:33              1.46              6.0     ...
  2015-01-01 00:35:13              2.02              8.5     ...
  2015-01-01 00:35:23              2.16              9.5     ...
  2015-01-01 00:35:26              1.32              7.5     ...
  2015-01-01 00:35:40              1.20              7.0     ...
  2015-01-01 00:35:35              5.00             17.0     ...
  2015-01-01 00:35:36              3.86             14.5     ...
  2015-01-01 00:35:41             10.13             29.5     ...
  2015-01-01 00:35:43              4.92             19.5     ...
  2015-01-01 00:35:25              7.76             24.5     ...
  2015-01-01 00:35:44             13.94             43.0     ...
1 2015-01-01 00:35:38              1.80              7.5     ...
  2015-01-01 00:35:21              7.30             24.5     ...
...                                 ...              ...     ...
  2015-01-31 23:00:49              1.70              9.0     ...
  2015-01-31 23:01:04              1.40              8.0     ...
  2015-01-31 23:00:43             11.70             35.5     ...
  2015-01-31 23:00:34              0.60              4.5     ...
  2015-01-31 23:00:40              2.00             12.5     ...
  2015-01-31 23:00:26              1.40              7.5     ...
  2015-01-31 23:00:12              1.00              6.0     ...
  2015-01-31 23:01:17              2.30             11.0     ...
  2015-01-31 23:03:53              4.30             16.0     ...
  2015-01-31 23:03:10              2.70             12.0     ...
  2015-01-31 23:02:51              3.50             17.0     ...
  2015-01-31 23:02:40              0.70              5.0     ...
  2015-01-31 23:02:22              1.50              8.0     ...
  2015-01-31 23:02:14              1.60              8.0     ...
  2015-01-31 23:02:28              0.80              5.5     ...
  2015-01-31 23:02:31              5.30             20.5     ...
  2015-01-31 23:01:57              2.00              8.0     ...
  2015-01-31 23:01:53              5.20             19.5     ...
  2015-01-31 23:02:17              1.90              9.0     ...
  2015-01-31 23:01:42              2.30             10.5     ...
  2015-01-31 23:01:10              1.60              7.5     ...
  2015-01-31 23:01:15              1.10              5.0     ...
  2015-01-31 23:00:47              0.90              5.0     ...
  2015-01-31 23:00:23              2.40             10.0     ...
  2015-01-31 23:00:18              4.70             16.5     ...
  2015-01-31 23:00:33              5.00             15.0     ...
  2015-01-31 23:00:09              2.10              9.0     ...
  2015-01-31 23:00:01              6.40             25.0     ...
  2015-01-31 23:04:52              4.60             19.5     ...
  2015-01-31 23:00:30              0.80              5.0     ...

                       Fare_amount  Extra  MTA_tax  Tip_amount  Tolls_amount  \
2 2015-01-01 00:34:42          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:34:46          0.5   0.00      0.0         NaN           0.3
1 2015-01-01 00:34:44          0.5   1.80      0.0         NaN           0.0
2 2015-01-01 00:34:48          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:34:53          0.5   0.00      0.0         NaN           0.3
1 2015-01-01 00:34:55          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:34:49          0.5   0.00      0.0         NaN           0.3
2 2015-01-01 00:35:03          0.0   0.00      0.0         NaN           0.0
  2015-01-01 00:35:13          0.5   1.40      0.0         NaN           0.3
  2015-01-01 00:35:09          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:34:56          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:34:59          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:35:07          0.5   6.00      0.0         NaN           0.3
  2015-01-01 00:35:01          0.5   6.12      0.0         NaN           0.3
1 2015-01-01 00:35:12          0.5   0.00      0.0         NaN           0.3
2 2015-01-01 00:35:14          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:35:29          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:35:33          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:35:13          0.5   2.70      0.0         NaN           0.3
  2015-01-01 00:35:23          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:35:26          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:35:40          0.5   1.00      0.0         NaN           0.3
  2015-01-01 00:35:35          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:35:36          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:35:41          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:35:43          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:35:25          0.5   6.25      0.0         NaN           0.3
  2015-01-01 00:35:44          0.5   0.00      0.0         NaN           0.3
1 2015-01-01 00:35:38          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:35:21          0.5   0.00      0.0         NaN           0.3
...                            ...    ...      ...         ...           ...

In [25]:
!curl -O "https://s3.amazonaws.com/nyc-tlc/misc/taxi_zones.zip" 
!curl -O "https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1001k  100 1001k    0     0  1001k      0  0:00:01 --:--:--  0:00:01 5854k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 12322  100 12322    0     0  12322      0  0:00:01 --:--:--  0:00:01  106k

In [26]:
os.system("unzip taxi_zones.zip")

0

In [4]:
zones = gpd.read_file("taxi_zones.shp")

In [5]:
weather = pd.read_csv("1106040.csv")

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (14,15,20,23,25,40,84,85,86,87) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
jan15_FHV.dropna(axis = 0, inplace=True)

In [7]:
jan15_GT = jan15_GT[(jan15_GT.Pickup_latitude != 0) | (jan15_GT.Pickup_longitude != 0)]
jan15_YT = jan15_YT[(jan15_YT.pickup_latitude != 0) | (jan15_YT.pickup_longitude != 0)]

In [8]:
jan15_GT

                                  VendorID lpep_pickup_datetime  \
2 2015-01-01 00:34:42  2015-01-01 00:38:34                    N
  2015-01-01 00:34:46  2015-01-01 00:47:23                    N
1 2015-01-01 00:34:44  2015-01-01 00:38:15                    N
2 2015-01-01 00:34:48  2015-01-01 00:38:08                    N
  2015-01-01 00:34:53  2015-01-01 01:09:10                    N
1 2015-01-01 00:34:55  2015-01-01 00:40:58                    N
  2015-01-01 00:34:49  2015-01-01 00:53:10                    N
2 2015-01-01 00:35:03  2015-01-01 00:35:08                    N
  2015-01-01 00:35:13  2015-01-01 00:41:04                    N
  2015-01-01 00:35:09  2015-01-01 00:42:39                    N
  2015-01-01 00:34:56  2015-01-01 00:44:39                    N
  2015-01-01 00:34:59  2015-01-01 00:56:16                    N
  2015-01-01 00:35:07  2015-01-01 00:57:02                    N
  2015-01-01 00:35:01  2015-01-01 01:00:07                    N
1 2015-01-01 00:35:12  2015-01-01 00:41:58                    N
2 2015-01-01 00:35:14  2015-01-01 00:37:25                    N
  2015-01-01 00:35:29  2015-01-01 00:38:35                    N
  2015-01-01 00:35:33  2015-01-01 00:39:43                    N
  2015-01-01 00:35:13  2015-01-01 00:43:40                    N
  2015-01-01 00:35:23  2015-01-01 00:43:46                    N
  2015-01-01 00:35:26  2015-01-01 00:42:53                    N
  2015-01-01 00:35:40  2015-01-01 00:44:40                    N
  2015-01-01 00:35:35  2015-01-01 00:52:25                    N
  2015-01-01 00:35:36  2015-01-01 00:52:35                    N
  2015-01-01 00:35:41  2015-01-01 00:55:58                    N
  2015-01-01 00:35:43  2015-01-01 00:56:12                    N
  2015-01-01 00:35:25  2015-01-01 00:58:06                    N
  2015-01-01 00:35:44  2015-01-01 01:13:41                    N
1 2015-01-01 00:35:38  2015-01-01 00:41:46                    N
  2015-01-01 00:35:21  2015-01-01 01:00:24                    N
...                                    ...                  ...
  2015-01-31 23:00:49  2015-01-31 23:11:29                    N
  2015-01-31 23:01:04  2015-01-31 23:10:17                    N
  2015-01-31 23:00:43  2015-01-31 23:30:00                    N
  2015-01-31 23:00:34  2015-01-31 23:03:54                    N
  2015-01-31 23:00:40  2015-01-31 23:18:45                    N
  2015-01-31 23:00:26  2015-01-31 23:08:23                    N
  2015-01-31 23:00:12  2015-01-31 23:06:00                    N
  2015-01-31 23:01:17  2015-01-31 23:14:37                    N
  2015-01-31 23:03:53  2015-01-31 23:21:56                    N
  2015-01-31 23:03:10  2015-01-31 23:15:46                    N
  2015-01-31 23:02:51  2015-01-31 23:25:02                    N
  2015-01-31 23:02:40  2015-01-31 23:07:32                    N
  2015-01-31 23:02:22  2015-01-31 23:12:24                    N
  2015-01-31 23:02:14  2015-01-31 23:10:28                    N
  2015-01-31 23:02:28  2015-01-31 23:07:06                    N
  2015-01-31 23:02:31  2015-01-31 23:24:53                    N
  2015-01-31 23:01:57  2015-01-31 23:09:23                    N
  2015-01-31 23:01:53  2015-01-31 23:22:37                    N
  2015-01-31 23:02:17  2015-01-31 23:12:27                    N
  2015-01-31 23:01:42  2015-01-31 23:14:08                    N
  2015-01-31 23:01:10  2015-01-31 23:09:21                    N
  2015-01-31 23:01:15  2015-01-31 23:04:04                    N
  2015-01-31 23:00:47  2015-01-31 23:04:45                    N
  2015-01-31 23:00:23  2015-01-31 23:10:38                    N
  2015-01-31 23:00:18  2015-01-31 23:17:41                    N
  2015-01-31 23:00:33  2015-01-31 23:10:15                    N
  2015-01-31 23:00:09  2015-01-31 23:09:56                    N
  2015-01-31 23:00:01  2015-01-31 23:29:48                    N
  2015-01-31 23:04:52  2015-01-31 23:29:32                    N
  2015-01-31 23:00:30  2015-01-31 23:04:57                    N

                       Lpep_dropoff_datetime  Store_and_fwd_flag  RateCodeID  \
2 2015-01-01 00:34:42                      1          -73.922592   40.754528
  2015-01-01 00:34:46                      1          -73.952751   40.677711
1 2015-01-01 00:34:44                      1          -73.843010   40.719055
2 2015-01-01 00:34:48                      1          -73.860825   40.757793
  2015-01-01 00:34:53                      1          -73.945183   40.783321
1 2015-01-01 00:34:55                      1          -73.966812   40.714676
  2015-01-01 00:34:49                      1          -73.930489   40.850132
2 2015-01-01 00:35:03                      5          -73.863899   40.895439
  2015-01-01 00:35:13                      1          -73.917130   40.764889
  2015-01-01 00:35:09                      1          -73.921402   40.766666
  2015-01-01 00:34:56                      1          -73.912689   40.722507
  2015-01-01 00:34:59                      1          -73.918152   40.698833
  2015-01-01 00:35:07                      1          -73.992340   40.697361
  2015-01-01 00:35:01                      1          -73.950569   40.790771
1 2015-01-01 00:35:12                      1          -73.899055   40.749989
2 2015-01-01 00:35:14                      1          -73.981522   40.576633
  2015-01-01 00:35:29                      1          -73.910828   40.768795
  2015-01-01 00:35:33                      1          -73.942108   40.754223
  2015-01-01 00:35:13                      1          -73.991592   40.685078
  2015-01-01 00:35:23                      1          -73.890785   40.746498
  2015-01-01 00:35:26                      1          -73.879166   40.752659
  2015-01-01 00:35:40                      1          -73.935745   40.753407
  2015-01-01 00:35:35                      1          -73.902443   40.860577
  2015-01-01 00:35:36                      1          -73.939255   40.816402
  2015-01-01 00:35:41                      1          -73.948174   40.744877
  2015-01-01 00:35:43                      1          -73.951874   40.804604
  2015-01-01 00:35:25                      1          -74.004471   40.656212
  2015-01-01 00:35:44                      1          -73.938484   40.847672
1 2015-01-01 00:35:38                      1          -73.949242   40.695423
  2015-01-01 00:35:21                      1          -73.947266   40.745213
...                                      ...                 ...         ...
  2015-01-31 23:00:49                      1          -73.867821   40.744061
  2015-01-31 23:01:04                      1          -73.984550   40.675133
  2015-01-31 23:00:43                      1          -73.988029   40.688213
  2015-01-31 23:00:34                      1          -73.945381   40.711548
  2015-01-31 23:00:40                      1          -73.956863   40.729973
  2015-01-31 23:00:26                      1          -73.877220   40.828819
  2015-01-31 23:00:12                      1          -73.922768   40.755497
  2015-01-31 23:01:17                      1          -73.979652   40.660145
  2015-01-31 23:03:53                      1          -74.000061   40.687401
  2015-01-31 23:03:10                      1          -73.927505   40.752640
  2015-01-31 23:02:51                      1          -73.992043   40.665661
  2015-01-31 23:02:40                      1          -73.956551   40.713154
  2015-01-31 23:02:22                      1          -73.945129   40.808147
  2015-01-31 23:02:14                      1          -73.992355   40.689568
  2015-01-31 23:02:28                      1          -73.951225   40.712032
  2015-01-31 23:02:31                      1          -73.923393   40.816875
  2015-01-31 23:01:57                      1          -73.945679   40.807823
  2015-01-31 23:01:53                      1          -73.956985   40.720295
  2015-01-31 23:02:17                      1          -73.955254   40.670017
  2015-01-31 23:01:42                      1          -73.974678   40.680897
  2015-01-31 23:01:10                      1          -73.986153   40.669380
  2015-01-31 23:01:15                      1          -73.946892   40.745407
  2015-01-31 23:00:47                      1          -73.953873   40.806458
  2015-01-31 23:00:23                      1          -73.939056   40.805252
  2015-01-31 23:00:18                      1          -73.918808   40.770325
  2015-01-31 23:00:33                      1          -73.997559   40.691139
  2015-01-31 23:00:09                      1          -73.890846   40.746918
  2015-01-31 23:00:01                      1          -73.956848   40.722839
  2015-01-31 23:04:52                      1          -73.981323   40.675045
  2015-01-31 23:00:30                      1          -73.985794   40.685673

                       Pickup_longitude  Pickup_latitude  Dropoff_longitude  \
2 2015-01-01 00:34:42        -73.913635        40.765522                  1
  2015-01-01 00:34:46        -73.981529        40.658978                  1
1 2015-01-01 00:34:44        -73.846581        40.711567                  1
2 2015-01-01 00:34:48        -73.854042        40.749821                  1
  2015-01-01 00:34:53        -73.989624        40.765450                  1
1 2015-01-01 00:34:55        -73.949409        40.718437                  4
  2015-01-01 00:34:49        -73.978058        40.789059                  1
2 2015-01-01 00:35:03        -73.861877        40.894779                  1
  2015-01-01 00:35:13        -73.927979        40.761471                  5
  2015-01-01 00:35:09        -73.906479        40.778728                  2
  2015-01-01 00:34:56        -73.909195        40.705139                  1
  2015-01-01 00:34:59        -73.955116        40.734932                  1
  2015-01-01 00:35:07        -73.821365        40.779621                  1
  2015-01-01 00:35:01        -73.999527        40.740314                  1
1 2015-01-01 00:35:12        -73.924286        40.761547                  2
2 2015-01-01 00:35:14        -73.976517        40.577572                  1
  2015-01-01 00:35:29        -73.914284        40.764755                  1
  2015-01-01 00:35:33        -73.930885        40.771317                  1
  2015-01-01 00:35:13        -73.980835        40.667877                  6
  2015-01-01 00:35:23        -73.889748        40.764072                  1
  2015-01-01 00:35:26        -73.897156        40.757961                  1
  2015-01-01 00:35:40        -73.924408        40.761547                  2
  2015-01-01 00:35:35        -73.944557        40.809151                  1
  2015-01-01 00:35:36        -73.952988        40.778408                  1
  2015-01-01 00:35:41        -74.004982        40.650322                  1
  2015-01-01 00:35:43        -73.995628        40.764347                  6
  2015-01-01 00:35:25        -73.994308        40.740711                  1
  2015-01-01 00:35:44        -73.951767        40.711731                  1
1 2015-01-01 00:35:38        -73.962120        40.713215                  1
  2015-01-01 00:35:21        -73.955177        40.657524                  3
...                                 ...              ...                ...
  2015-01-31 23:00:49        -73.885170        40.755497                  1
  2015-01-31 23:01:04        -73.989899        40.685711                  2
  2015-01-31 23:00:43        -73.924858        40.762753                  2
  2015-01-31 23:00:34        -73.950737        40.716404                  1
  2015-01-31 23:00:40        -73.963875        40.709515                  1
  2015-01-31 23:00:26        -73.855537        40.835655                  5
  2015-01-31 23:00:12        -73.923225        40.743484                  2
  2015-01-31 23:01:17        -73.978020        40.679878                  2
  2015-01-31 23:03:53        -73.993965        40.732124                  1
  2015-01-31 23:03:10        -73.879471        40.754536                  1
  2015-01-31 23:02:51        -73.946571        40.682247                  1
  2015-01-31 23:02:40        -73.963371        40.719418                  1
  2015-01-31 23:02:22        -73.957413        40.821690                  1
  2015-01-31 23:02:14        -73.992180        40.673740                  3
  2015-01-31 23:02:28        -73.947952        40.716175                  4
  2015-01-31 23:02:31        -73.902458        40.868801                  1
  2015-01-31 23:01:57        -73.968224        40.791836                  1
  2015-01-31 23:01:53        -73.952461        40.768627                  1
  2015-01-31 23:02:17        -73.935837        40.686428                  1
  2015-01-31 23:01:42        -73.952126        40.689831                  1
  2015-01-31 23:01:10        -74.001610        40.684143                  1
  2015-01-31 23:01:15        -73.955269        40.736538                  1
  2015-01-31 23:00:47        -73.964989        40.800991                  1
  2015-01-31 23:00:23        -73.947769        40.777805                  1
  2015-01-31 23:00:18        -73.960121        40.776104                  1
  2015-01-31 23:00:33        -73.940086        40.723503                  1
  2015-01-31 23:00:09        -73.862122        40.739246                  2
  2015-01-31 23:00:01        -74.004005        40.721066                  1
  2015-01-31 23:04:52        -73.992836        40.724155                  4
  2015-01-31 23:00:30        -73.994278        40.680901                  2

                       Dropoff_latitude  Passenger_count     ...      \
2 2015-01-01 00:34:42              0.88              5.0     ...
  2015-01-01 00:34:46              3.08             12.0     ...
1 2015-01-01 00:34:44              0.90              5.0     ...
2 2015-01-01 00:34:48              0.85              5.0     ...
  2015-01-01 00:34:53              4.91             24.5     ...
1 2015-01-01 00:34:55              1.20              6.5     ...
  2015-01-01 00:34:49              6.60             22.0     ...
2 2015-01-01 00:35:03              0.13             15.0     ...
  2015-01-01 00:35:13              1.18              6.5     ...
  2015-01-01 00:35:09              1.12              7.0     ...
  2015-01-01 00:34:56              1.59              8.0     ...
  2015-01-01 00:34:59              3.89             16.5     ...
  2015-01-01 00:35:07             14.01             39.0     ...
  2015-01-01 00:35:01              6.74             24.0     ...
1 2015-01-01 00:35:12              1.60              7.5     ...
2 2015-01-01 00:35:14              0.58              4.0     ...
  2015-01-01 00:35:29              0.52              4.0     ...
  2015-01-01 00:35:33              1.46              6.0     ...
  2015-01-01 00:35:13              2.02              8.5     ...
  2015-01-01 00:35:23              2.16              9.5     ...
  2015-01-01 00:35:26              1.32              7.5     ...
  2015-01-01 00:35:40              1.20              7.0     ...
  2015-01-01 00:35:35              5.00             17.0     ...
  2015-01-01 00:35:36              3.86             14.5     ...
  2015-01-01 00:35:41             10.13             29.5     ...
  2015-01-01 00:35:43              4.92             19.5     ...
  2015-01-01 00:35:25              7.76             24.5     ...
  2015-01-01 00:35:44             13.94             43.0     ...
1 2015-01-01 00:35:38              1.80              7.5     ...
  2015-01-01 00:35:21              7.30             24.5     ...
...                                 ...              ...     ...
  2015-01-31 23:00:49              1.70              9.0     ...
  2015-01-31 23:01:04              1.40              8.0     ...
  2015-01-31 23:00:43             11.70             35.5     ...
  2015-01-31 23:00:34              0.60              4.5     ...
  2015-01-31 23:00:40              2.00             12.5     ...
  2015-01-31 23:00:26              1.40              7.5     ...
  2015-01-31 23:00:12              1.00              6.0     ...
  2015-01-31 23:01:17              2.30             11.0     ...
  2015-01-31 23:03:53              4.30             16.0     ...
  2015-01-31 23:03:10              2.70             12.0     ...
  2015-01-31 23:02:51              3.50             17.0     ...
  2015-01-31 23:02:40              0.70              5.0     ...
  2015-01-31 23:02:22              1.50              8.0     ...
  2015-01-31 23:02:14              1.60              8.0     ...
  2015-01-31 23:02:28              0.80              5.5     ...
  2015-01-31 23:02:31              5.30             20.5     ...
  2015-01-31 23:01:57              2.00              8.0     ...
  2015-01-31 23:01:53              5.20             19.5     ...
  2015-01-31 23:02:17              1.90              9.0     ...
  2015-01-31 23:01:42              2.30             10.5     ...
  2015-01-31 23:01:10              1.60              7.5     ...
  2015-01-31 23:01:15              1.10              5.0     ...
  2015-01-31 23:00:47              0.90              5.0     ...
  2015-01-31 23:00:23              2.40             10.0     ...
  2015-01-31 23:00:18              4.70             16.5     ...
  2015-01-31 23:00:33              5.00             15.0     ...
  2015-01-31 23:00:09              2.10              9.0     ...
  2015-01-31 23:00:01              6.40             25.0     ...
  2015-01-31 23:04:52              4.60             19.5     ...
  2015-01-31 23:00:30              0.80              5.0     ...

                       Fare_amount  Extra  MTA_tax  Tip_amount  Tolls_amount  \
2 2015-01-01 00:34:42          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:34:46          0.5   0.00      0.0         NaN           0.3
1 2015-01-01 00:34:44          0.5   1.80      0.0         NaN           0.0
2 2015-01-01 00:34:48          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:34:53          0.5   0.00      0.0         NaN           0.3
1 2015-01-01 00:34:55          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:34:49          0.5   0.00      0.0         NaN           0.3
2 2015-01-01 00:35:03          0.0   0.00      0.0         NaN           0.0
  2015-01-01 00:35:13          0.5   1.40      0.0         NaN           0.3
  2015-01-01 00:35:09          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:34:56          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:34:59          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:35:07          0.5   6.00      0.0         NaN           0.3
  2015-01-01 00:35:01          0.5   6.12      0.0         NaN           0.3
1 2015-01-01 00:35:12          0.5   0.00      0.0         NaN           0.3
2 2015-01-01 00:35:14          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:35:29          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:35:33          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:35:13          0.5   2.70      0.0         NaN           0.3
  2015-01-01 00:35:23          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:35:26          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:35:40          0.5   1.00      0.0         NaN           0.3
  2015-01-01 00:35:35          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:35:36          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:35:41          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:35:43          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:35:25          0.5   6.25      0.0         NaN           0.3
  2015-01-01 00:35:44          0.5   0.00      0.0         NaN           0.3
1 2015-01-01 00:35:38          0.5   0.00      0.0         NaN           0.3
  2015-01-01 00:35:21          0.5   0.00      0.0         NaN           0.3
...                            ...    ...      ...         ...           ...

In [9]:
zones = zones.to_crs({'proj':'longlat', 'ellps':'WGS84', 'datum':'WGS84'})

In [10]:
zones = zones.to_crs({'proj':'longlat', "epsg" : "2263"})

In [12]:
geometry_GT = [Pointt(xy) for xy in zip(jan15_GT.Pickup_longitude, jan15_GT.Pickup_latitude)]
crs = {'proj':'longlat', "epsg" : "2263"}
jan15_GT_shp = GeoDataFrame(jan15_GT, crs=crs, geometry=geometry_GT)

In [ ]:
ax1 = zones.plot(figsize=(30,10))
sample = jan15_GT_shp.sample(1000)
sample.plot(ax = ax1, c='r')

In [17]:
geometry_YT = [Point(xy) for xy in zip(jan15_YT.pickup_longitude, jan15_YT.pickup_latitude)]
crs = {'init': 'epsg:2263'}
jan15_YT_shp = GeoDataFrame(jan15_YT, crs=crs, geometry=geometry_YT)

In [18]:
jan15_GT_shp.sample(1000)

                                  VendorID lpep_pickup_datetime  \
2 2015-01-11 10:11:16  2015-01-11 10:23:25                    N
  2015-01-22 21:02:58  2015-01-22 21:15:47                    N
  2015-01-24 09:31:29  2015-01-24 09:36:48                    N
  2015-01-21 21:57:05  2015-01-21 22:03:22                    N
  2015-01-25 00:56:44  2015-01-25 00:56:49                    N
  2015-01-15 09:40:33  2015-01-15 09:56:53                    N
  2015-01-11 16:32:14  2015-01-11 16:46:15                    N
  2015-01-17 01:12:49  2015-01-17 01:17:20                    N
  2015-01-12 11:52:37  2015-01-12 12:04:45                    N
  2015-01-09 13:03:35  2015-01-09 13:20:35                    N
  2015-01-31 14:57:50  2015-01-31 15:01:53                    N
  2015-01-23 14:19:33  2015-01-23 14:24:14                    N
  2015-01-16 12:24:19  2015-01-16 12:38:23                    N
  2015-01-07 16:04:37  2015-01-07 16:13:39                    N
1 2015-01-26 15:11:43  2015-01-26 15:21:11                    N
2 2015-01-07 20:12:50  2015-01-07 20:17:45                    N
  2015-01-19 09:00:26  2015-01-19 09:17:07                    N
  2015-01-27 08:38:32  2015-01-27 09:03:52                    N
1 2015-01-16 09:30:12  2015-01-16 09:56:11                    N
  2015-01-18 04:27:06  2015-01-18 04:30:46                    N
2 2015-01-10 16:43:47  2015-01-10 16:46:20                    N
  2015-01-25 00:34:47  2015-01-25 00:48:02                    N
  2015-01-10 16:02:57  2015-01-10 16:14:16                    N
  2015-01-04 01:52:18  2015-01-04 01:57:14                    N
1 2015-01-15 11:43:03  2015-01-15 11:54:26                    N
2 2015-01-04 06:15:48  2015-01-04 06:26:51                    N
  2015-01-12 06:46:28  2015-01-12 06:51:08                    N
  2015-01-23 16:38:41  2015-01-23 16:46:18                    N
  2015-01-29 09:19:14  2015-01-29 09:45:14                    N
  2015-01-11 12:59:27  2015-01-11 13:15:35                    N
...                                    ...                  ...
  2015-01-22 17:03:20  2015-01-22 17:15:40                    N
  2015-01-04 00:26:54  2015-01-04 00:42:49                    N
  2015-01-08 23:05:10  2015-01-08 23:10:27                    N
  2015-01-18 17:56:51  2015-01-18 18:01:28                    N
  2015-01-08 09:50:26  2015-01-08 09:59:05                    N
1 2015-01-18 10:33:25  2015-01-18 10:50:34                    N
2 2015-01-13 23:05:40  2015-01-13 23:08:57                    N
1 2015-01-06 09:54:19  2015-01-06 10:03:40                    N
2 2015-01-06 22:36:18  2015-01-06 22:46:31                    N
  2015-01-10 10:29:50  2015-01-10 10:32:46                    N
  2015-01-09 14:57:01  2015-01-09 15:34:44                    N
1 2015-01-15 21:50:52  2015-01-15 21:56:07                    N
2 2015-01-21 10:04:59  2015-01-21 10:08:20                    N
1 2015-01-02 05:12:21  2015-01-02 05:34:29                    N
2 2015-01-31 16:20:08  2015-01-31 16:39:46                    N
  2015-01-30 17:35:44  2015-01-30 17:41:22                    N
  2015-01-22 18:52:51  2015-01-22 18:59:58                    N
  2015-01-16 22:14:33  2015-01-16 22:21:48                    N
1 2015-01-15 20:03:05  2015-01-15 20:11:56                    N
2 2015-01-12 23:27:55  2015-01-12 23:36:44                    N
  2015-01-24 04:38:16  2015-01-24 04:56:59                    N
1 2015-01-22 15:10:45  2015-01-22 15:30:52                    N
2 2015-01-05 06:19:31  2015-01-05 06:25:36                    N
  2015-01-19 18:16:19  2015-01-19 18:22:59                    N
1 2015-01-31 13:40:55  2015-01-31 13:46:44                    N
2 2015-01-02 12:10:19  2015-01-02 12:37:07                    N
  2015-01-04 19:46:38  2015-01-04 19:51:52                    N
1 2015-01-10 04:49:28  2015-01-10 05:03:53                    N
2 2015-01-16 23:43:07  2015-01-16 23:47:28                    N
  2015-01-07 14:23:48  2015-01-07 14:41:22                    N

                       Lpep_dropoff_datetime  Store_and_fwd_flag  RateCodeID  \
2 2015-01-11 10:11:16                      1          -73.831062   40.759243
  2015-01-22 21:02:58                      1          -73.978653   40.684505
  2015-01-24 09:31:29                      1          -73.981102   40.690022
  2015-01-21 21:57:05                      1          -73.914124   40.765034
  2015-01-25 00:56:44                      1          -73.930267   40.755756
  2015-01-15 09:40:33                      1          -73.947998   40.801434
  2015-01-11 16:32:14                      1          -73.903641   40.745129
  2015-01-17 01:12:49                      1          -73.956375   40.733593
  2015-01-12 11:52:37                      1          -73.965508   40.686584
  2015-01-09 13:03:35                      1          -73.946884   40.784222
  2015-01-31 14:57:50                      1          -73.992493   40.689430
  2015-01-23 14:19:33                      1          -73.961960   40.805527
  2015-01-16 12:24:19                      1          -73.891701   40.758606
  2015-01-07 16:04:37                      1          -73.904388   40.878826
1 2015-01-26 15:11:43                      1          -73.949585   40.650635
2 2015-01-07 20:12:50                      1          -73.953636   40.790760
  2015-01-19 09:00:26                      1          -73.956268   40.718739
  2015-01-27 08:38:32                      1          -73.939301   40.842377
1 2015-01-16 09:30:12                      1          -73.948380   40.695557
  2015-01-18 04:27:06                      1          -73.954231   40.587437
2 2015-01-10 16:43:47                      1          -73.958153   40.815327
  2015-01-25 00:34:47                      1          -73.950119   40.705452
  2015-01-10 16:02:57                      1          -73.946770   40.800377
  2015-01-04 01:52:18                      1          -73.942101   40.716068
1 2015-01-15 11:43:03                      1          -73.982498   40.693684
2 2015-01-04 06:15:48                      1          -73.957558   40.722343
  2015-01-12 06:46:28                      1          -73.917694   40.770039
  2015-01-23 16:38:41                      1          -73.923233   40.817081
  2015-01-29 09:19:14                      1          -73.995682   40.687401
  2015-01-11 12:59:27                      1          -73.830597   40.759468
...                                      ...                 ...         ...
  2015-01-22 17:03:20                      1          -73.869102   40.734207
  2015-01-04 00:26:54                      1          -73.936844   40.796623
  2015-01-08 23:05:10                      1          -73.874313   40.734997
  2015-01-18 17:56:51                      1          -73.962219   40.690083
  2015-01-08 09:50:26                      1          -73.992783   40.688866
1 2015-01-18 10:33:25                      1          -73.942017   40.754177
2 2015-01-13 23:05:40                      1          -73.953743   40.790710
1 2015-01-06 09:54:19                      1          -73.952782   40.810558
2 2015-01-06 22:36:18                      1          -73.949516   40.721855
  2015-01-10 10:29:50                      1          -73.902985   40.745876
  2015-01-09 14:57:01                      1          -73.933090   40.795273
1 2015-01-15 21:50:52                      1          -73.981400   40.576771
2 2015-01-21 10:04:59                      1          -73.896133   40.746254
1 2015-01-02 05:12:21                      1          -73.931358   40.850746
2 2015-01-31 16:20:08                      1          -73.969421   40.696365
  2015-01-30 17:35:44                      1          -73.931633   40.765400
  2015-01-22 18:52:51                      1          -73.943161   40.796391
  2015-01-16 22:14:33                      1          -73.939156   40.805302
1 2015-01-15 20:03:05                      1          -73.890923   40.748974
2 2015-01-12 23:27:55                      1          -73.863708   40.832668
  2015-01-24 04:38:16                      1          -74.022812   40.629158
1 2015-01-22 15:10:45                      1          -73.863655   40.882458
2 2015-01-05 06:19:31                      1          -73.883339   40.747700
  2015-01-19 18:16:19                      1          -73.945290   40.721668
1 2015-01-31 13:40:55                      1          -73.987183   40.687748
2 2015-01-02 12:10:19                      1          -73.991608   40.691528
  2015-01-04 19:46:38                      1          -73.935249   40.795956
1 2015-01-10 04:49:28                      1          -73.944984   40.808594
2 2015-01-16 23:43:07                      1          -73.938004   40.748760
  2015-01-07 14:23:48                      1          -73.939346   40.841991

                       Pickup_longitude  Pickup_latitude  Dropoff_longitude  \
2 2015-01-11 10:11:16        -73.834671        40.787670                  2
  2015-01-22 21:02:58        -74.005341        40.652065                  1
  2015-01-24 09:31:29        -73.992279        40.699078                  2
  2015-01-21 21:57:05        -73.928513        40.760330                  5
  2015-01-25 00:56:44        -73.930237        40.755733                  1
  2015-01-15 09:40:33        -73.975883        40.789833                  1
  2015-01-11 16:32:14        -73.911240        40.765850                  1
  2015-01-17 01:12:49        -73.947144        40.724354                  1
  2015-01-12 11:52:37        -73.978699        40.662434                  1
  2015-01-09 13:03:35        -73.936333        40.822170                  2
  2015-01-31 14:57:50        -74.000946        40.678677                  3
  2015-01-23 14:19:33        -73.964951        40.801773                  1
  2015-01-16 12:24:19        -73.869408        40.743507                  1
  2015-01-07 16:04:37        -73.904945        40.904415                  1
1 2015-01-26 15:11:43        -73.953278        40.639774                  1
2 2015-01-07 20:12:50        -73.966934        40.795494                  1
  2015-01-19 09:00:26        -73.973381        40.743763                  1
  2015-01-27 08:38:32        -73.977119        40.750500                  1
1 2015-01-16 09:30:12        -73.986702        40.702156                  1
  2015-01-18 04:27:06        -73.938728        40.589058                  1
2 2015-01-10 16:43:47        -73.957916        40.811043                  5
  2015-01-25 00:34:47        -73.957703        40.722134                  1
  2015-01-10 16:02:57        -73.954514        40.769772                  1
  2015-01-04 01:52:18        -73.945732        40.722237                  1
1 2015-01-15 11:43:03        -74.002785        40.708736                  1
2 2015-01-04 06:15:48        -73.982773        40.702286                  1
  2015-01-12 06:46:28        -73.904114        40.763718                  1
  2015-01-23 16:38:41        -73.919724        40.812023                  1
  2015-01-29 09:19:14        -73.997238        40.736408                  1
  2015-01-11 12:59:27        -73.884056        40.748539                  1
...                                 ...              ...                ...
  2015-01-22 17:03:20        -73.871460        40.751358                  5
  2015-01-04 00:26:54        -73.909317        40.843990                  1
  2015-01-08 23:05:10        -73.904884        40.741337                  4
  2015-01-18 17:56:51        -73.981140        40.689938                  2
  2015-01-08 09:50:26        -74.010399        40.673477                  1
1 2015-01-18 10:33:25        -73.892357        40.774940                  1
2 2015-01-13 23:05:40        -73.947624        40.783661                  1
1 2015-01-06 09:54:19        -73.968277        40.791721                  1
2 2015-01-06 22:36:18        -73.959717        40.691677                  1
  2015-01-10 10:29:50        -73.914520        40.743549                  1
  2015-01-09 14:57:01        -73.992691        40.764225                  1
1 2015-01-15 21:50:52        -73.989532        40.587765                  1
2 2015-01-21 10:04:59        -73.884995        40.745945                  1
1 2015-01-02 05:12:21        -74.009506        40.721519                  3
2 2015-01-31 16:20:08        -73.921364        40.702099                  1
  2015-01-30 17:35:44        -73.939850        40.750252                  1
  2015-01-22 18:52:51        -73.947128        40.805393                  2
  2015-01-16 22:14:33        -73.941193        40.816082                  1
1 2015-01-15 20:03:05        -73.912323        40.745583                  1
2 2015-01-12 23:27:55        -73.864037        40.854488                  1
  2015-01-24 04:38:16        -73.993324        40.597801                  1
1 2015-01-22 15:10:45        -73.900726        40.859943                  1
2 2015-01-05 06:19:31        -73.886795        40.755493                  1
  2015-01-19 18:16:19        -73.960083        40.715668                  1
1 2015-01-31 13:40:55        -73.976196        40.681980                  1
2 2015-01-02 12:10:19        -74.007271        40.741444                  1
  2015-01-04 19:46:38        -73.946136        40.789387                  1
1 2015-01-10 04:49:28        -73.921333        40.829784                  1
2 2015-01-16 23:43:07        -73.936058        40.747517                  6
  2015-01-07 14:23:48        -73.952866        40.772511                  1

                       Dropoff_latitude  Passenger_count  \
2 2015-01-11 10:11:16              3.22             12.5
  2015-01-22 21:02:58              2.67             12.0
  2015-01-24 09:31:29              1.13              6.0
  2015-01-21 21:57:05              1.13              6.5
  2015-01-25 00:56:44              0.00              2.5
  2015-01-15 09:40:33              2.69             11.5
  2015-01-11 16:32:14              2.20             10.5
  2015-01-17 01:12:49              1.20              5.5
  2015-01-12 11:52:37              2.36             10.5
  2015-01-09 13:03:35              3.38             14.0
  2015-01-31 14:57:50              0.95              5.0
  2015-01-23 14:19:33              0.61              5.0
  2015-01-16 12:24:19              2.42             11.5
  2015-01-07 16:04:37              2.13              9.0
1 2015-01-26 15:11:43              1.00              7.0
2 2015-01-07 20:12:50              1.35              6.5
  2015-01-19 09:00:26              4.14             15.5
  2015-01-27 08:38:32              8.19             26.0
1 2015-01-16 09:30:12              3.40             18.0
  2015-01-18 04:27:06              1.00              5.0
2 2015-01-10 16:43:47              0.35              4.0
  2015-01-25 00:34:47              2.23             10.5
  2015-01-10 16:02:57              2.78             10.5
  2015-01-04 01:52:18              0.79              5.0
1 2015-01-15 11:43:03              2.00              9.5
2 2015-01-04 06:15:48              4.21             14.0
  2015-01-12 06:46:28              1.03              5.5
  2015-01-23 16:38:41              0.92              6.5
  2015-01-29 09:19:14              4.63             20.0
  2015-01-11 12:59:27              3.56             14.5
...                                 ...              ...
  2015-01-22 17:03:20              1.66              9.5
  2015-01-04 00:26:54              4.19             15.5
  2015-01-08 23:05:10              2.02              8.0
  2015-01-18 17:56:51              0.99              5.5
  2015-01-08 09:50:26              1.85              8.0
1 2015-01-18 10:33:25              4.00             15.5
2 2015-01-13 23:05:40              0.78              4.5
1 2015-01-06 09:54:19              1.60              8.5
2 2015-01-06 22:36:18              2.80             11.0
  2015-01-10 10:29:50              0.67              4.5
  2015-01-09 14:57:01              5.60             25.5
1 2015-01-15 21:50:52              1.20              6.0
2 2015-01-21 10:04:59              0.56              4.5
1 2015-01-02 05:12:21             10.80             31.0
2 2015-01-31 16:20:08              2.89             14.5
  2015-01-30 17:35:44              1.36              6.5
  2015-01-22 18:52:51              1.15              6.5
  2015-01-16 22:14:33              1.22              7.0
1 2015-01-15 20:03:05              1.40              8.0
2 2015-01-12 23:27:55              2.17              9.0
  2015-01-24 04:38:16              6.74             21.0
1 2015-01-22 15:10:45              3.30             16.0
2 2015-01-05 06:19:31              0.54              5.5
  2015-01-19 18:16:19              1.24              6.5
1 2015-01-31 13:40:55              0.80              5.5
2 2015-01-02 12:10:19              6.57             24.0
  2015-01-04 19:46:38              1.35              6.5
1 2015-01-10 04:49:28              2.60             12.5
2 2015-01-16 23:43:07              0.27              4.5
  2015-01-07 14:23:48              6.14             19.5

                                           ...                       Extra  \
2 2015-01-11 10:11:16                      ...                        0.00
  2015-01-22 21:02:58                      ...                        2.50
  2015-01-24 09:31:29                      ...                        0.00
  2015-01-21 21:57:05                      ...                        0.00
  2015-01-25 00:56:44                      ...                        0.00
  2015-01-15 09:40:33                      ...                        0.00
  2015-01-11 16:32:14                      ...                        0.00
  2015-01-17 01:12:49                      ...                        0.00
  2015-01-12 11:52:37                      ...                        0.00
  2015-01-09 13:03:35                      ...                        2.80
  2015-01-31 14:57:50                      ...                        0.00
  2015-01-23 14:19:33                      ...                        1.00
  2015-01-16 12:24:19                      ...                        0.00
  2015-01-07 16:04:37                      ...                        0.00
1 2015-01-26 15:11:43                      ...                        0.00
2 2015-01-07 20:12:50                      ...                        1.00
  2015-01-19 09:00:26                      ...                        6.25
  2015-01-27 08:38:32                      ...                        0.00
1 2015-01-16 09:30:12                      ...                        1.20
  2015-01-18 04:27:06                      ...                        0.00
2 2015-01-10 16:43:47                      ...                        0.00
  2015-01-25 00:34:47                      ...                        0.00
  2015-01-10 16:02:57                      ...                        2.62
  2015-01-04 01:52:18                      ...                        1.65
1 2015-01-15 11:43:03                      ...                        2.05
2 2015-01-04 06:15:48                      ...                        1.00
  2015-01-12 06:46:28                      ...                        0.00
  2015-01-23 16:38:41                      ...                        0.00
  2015-01-29 09:19:14                      ...                        5.00
  2015-01-11 12:59:27                      ...                        0.00
...                                        ...                         ...
  2015-01-22 17:03:20                      ...                        0.00
  2015-01-04 00:26:54                      ...                        0.00
  2015-01-08 23:05:10                      ...                        0.00
  2015-01-18 17:56:51                      ...                        1.00
  2015-01-08 09:50:26                      ...                        1.60
1 2015-01-18 10:33:25                      ...                        0.00
2 2015-01-13 23:05:40                      ...                        1.00

In [24]:
test = jan15_GT_shp.sample(1000)
jan15_GT_loc = gpd.sjoin(test, zones, how='inner', op='intersects')

KeyError: 'index_left'

In [22]:
jan_15_YT_loc = gpd.sjoin(jan15_YT_shp, zones, how="inner", op='intersects')

Warning: CRS does not match!

KeyboardInterrupt:

In [21]:
jan15_GT_loc

NameError: name 'jan15_GT_loc' is not defined

#TO DO: FIGURE OUT SPATIAL JOIN ISSUE, MAKE SURE TO USE PICKUP LONG LAT, NOT DROP-OFF (THE DATA IS WEIRD SO EVEN IF IT LOOKS LIKE THAT'S WHAT YOU'RE USING YOU'RE NOT)

In [ ]:
jan15_FHV.groupby(["locationID", "Pickup_date"]).count()